{% extends "base/base.html" %}
{% load static %}

{% load i18n %}
{% block headercss %}
<link rel="stylesheet" href="{% static 'tfcss/glide.core.css' %}" />
<link rel="stylesheet" href="{% static 'tfcss/glide.theme.css' %}" />
<link rel="stylesheet" href="{% static 'tfcss/slider/slick-theme.css' %}" />
<link rel="stylesheet" href="{% static 'tfcss/slider/slick.css' %}" />
<link rel="stylesheet" href="{% static 'tfcss/style.css' %}" />
{% endblock headercss %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container m-5 p-5 ">
    <h1 class="text-center">{% trans "Change Password" %}</h1>
    <p class="text-center">{% trans 'Your password is now changed.' %}</p>
    <p class="text-center"> <a href="{% url 'account_login' %}">Sign in Now</a> </p>
    
</div>
    
{% endblock %}
