{% extends "base/base.html" %}
{% load static %}

{% load i18n %}
{% block headercss %}
<link rel="stylesheet" href="{% static 'tfcss/glide.core.css' %}" />
<link rel="stylesheet" href="{% static 'tfcss/glide.theme.css' %}" />
<link rel="stylesheet" href="{% static 'tfcss/slider/slick-theme.css' %}" />
<link rel="stylesheet" href="{% static 'tfcss/slider/slick.css' %}" />
<link rel="stylesheet" href="{% static 'tfcss/style.css' %}" />
{% endblock headercss %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <p class="text-center" >{% include "account/snippets/already_logged_in.html" %}</p>
    
    {% endif %}
<div class="container border border-secondary my-5 w-50 mx-auto">
    <h1 class="text-center">{% trans "Password Reset" %}</h1>
    
    <p class="text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="text-center">
            {{ form.as_p }}
        </div>
        
        <input type="submit" class="pro-save" value="{% trans 'Reset My Password' %}" />
    </form>


</div>


{% endblock %}