{% extends 'base/pcs_user_base.html' %} {% load static %} {% load crispy_forms_tags %} {% block title %} Profile
    Edit {% endblock title %} {% block content %}
    <style>
        .profile-area {
            text-align: left;
            background-color: #e2e8f0;
        }

        .main-body {
            padding: 15px;
        }

        .card {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
        }

        .card-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1rem;
        }

        .gutters-sm {
            margin-right: -8px;
            margin-left: -8px;
        }

        .gutters-sm > .col,
        .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

        .bg-gray-300 {
            background-color: #e2e8f0;
        }

        .h-100 {
            height: 100% !important;
        }

        .shadow-none {
            box-shadow: none !important;
        }

        .profile-details {
            margin-block: 1rem;
        }


        .img-change {
            visibility: hidden;
        }

        .profiles-logo:hover + .img-change {
            visibility: visible;
        }

        .img-change:hover {
            visibility: visible;
        }
    </style>
    <div class="profile-area">
        {% include 'base/verification_check.html' %}
        <section class="">
            <div class="container">
                <div class="main-body">
                    <div class="row gutters-sm">
                        <div class="col-md-4 mb-md-0 mb-3">
                            <div class="card h-100">
                                <div class="card-body d-flex align-items-center justify-content-center">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <div class="profile-img position-relative border border-2 rounded-circle"
                                             style="width: fit-content">
                                            <img src="{{ user.profile_pic.url }}" alt="Admin"
                                                 class="rounded-circle profiles-logo"
                                                 width="150" height="150" style="object-fit: cover">
                                            <div data-tootik="Change Profile Picture"
                                                 class="img-change overlay position-absolute top-0 start-0 bottom-0 end-0 w-100 h-100 m-auto d-flex align-items-center justify-content-center rounded-circle"
                                                 data-bs-toggle="modal" data-bs-target="#imageChangeModal"
                                                 style="background: #00000033; cursor: pointer"><i
                                                    class="fa fa-camera"></i></div>
                                        </div>

                                        <div class="mt-3">
                                            <h4>{{ user.full_name }}</h4>
                                            <p class="text-secondary mb-1">{{ user.email }}</p>
                                            <p class="text-muted font-size-sm">{{ user.phone_number }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card-body">
                                        {{ info_forms|crispy }}
                                        <div class="row mt-3">
                                            <div class="col-sm-12 text-secondary">
                                                <input type="submit" name="info-btn" class="btn btn-navy px-4"
                                                       value="Save Changes">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <p>Interest List</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ int_forms|crispy }}
                        <button type="submit" class="btn-navy btn" name="int-btn">Save</button>
                    </form>
                    <!-- Modal -->
                    <div class="modal fade" id="imageChangeModal" tabindex="-1" aria-labelledby="imageChangeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageChangeModalLabel">Change Profile Picture</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ img_forms|crispy }}
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-navy" name="img-btn">Upload</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock content %} {% block customjs %}
    <script>
        document.querySelector('main>div').classList.value = ''
        let infoValues = document.querySelectorAll('.profile-info .info-value');
        let profileInputs = document.querySelectorAll('.profile-info input');


        document.getElementById("imageUpload")?.addEventListener("change", function (e) {
            if ((this.files[0].type).slice(0, 5) != "image") {
                document.getElementById("image_form").reset();
                alert('Invalid Image File!');
            } else {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        document.querySelector('#imagePreview').style.backgroundImage = 'url(' + e.target.result + ')';
                    }
                    reader.readAsDataURL(this.files[0]);
                    var fileInput = document.getElementById('imageUpload');
                    var filename = fileInput.files[0].name;
                    document.querySelector('.fa-camera').classList.add('d-none');
                }
            }
        });

        document.querySelectorAll('.selection-area label').forEach(label => {
            label.classList.add('text-truncate');
        });
    </script>
{% endblock customjs %}