:root {
    --var-primary-color: #182f59;
    --var-primary-color-dark: #111125;
    --var-primary-color-25: #022E75;
    --var-sidebar-color: #f2f3f7;
    --var-box-shadow-color: #d9d9d9;
    --var-link-color: #111125;
    --var-icon-color: #5bbc2e;
    --var-detail-background: #ebebeb;
    --var-topbar-background-color: #ffffff;
    --var-btn-background-purple: #da2579;
    --var-text-yellow: #ff9100;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding-inline: 0;
}

a {
    text-decoration: none;
}

.w-85 {
    width: 85%;
}

.text-yellow {
    color: var(--var-text-yellow);
}

.text-primary {
    color: var(--var-primary-color) !important;
}

.text-success {
    color: var(--var-icon-color) !important;
}

.btn-primary,
.btn-primary:hover {
    background-color: var(--var-primary-color);
}

.btn-purple {
    background-color: var(--var-btn-background-purple);
    color: #fff;
}
.bg-primary-25 {
    background-color: var(--var-primary-color-25);
}
.bg-primary-50 {
    background-color: var(--var-primary-color);
}
.bg-primary-dark {
    background-color: var(--var-primary-color-dark);
}
/* topbar nav style starts here */

nav {
    box-shadow: 1px 1px 1px 1px var(--var-box-shadow-color);
    background-color: var(--var-topbar-background-color);
}

.topbar-dropdown {
    left: 90rem !important;
    top: 71px !important;
}

.navbar-brand {
    flex: auto;
}

.navbar-text:not(:last-child) {
    margin-inline-end: 1rem;
}

.navbar-text a {
    color: #182f59;
}

.dropdown-menu .dropdown-item:active {
    background-color: #182f59;
}

.dropdown-menu[data-bs-popper] {
    left: -80px;
}

.filter-options {
    margin-top: 15px;
}

.filter-options button {
    min-width: 45px;
}

/* sidebar style starts here */

aside {
    background: #fff;
}

.aside-container {
    width: 20%;
    position: fixed;
    top: 6.4rem;
    bottom: 0;
    left: 0;
    padding: 1rem 0rem 1rem 0rem;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background-color: var(--var-sidebar-color);
    box-shadow: 0px 1px 1px 1px var(--var-box-shadow-color);
    overflow-y: hidden;
    transition: all 0.5s ease-in;
}
.aside-container:hover {
    overflow-y: auto;
}

.aside-container:hover::-webkit-scrollbar {
    opacity: 0;
    width: 4px;
    background-color: #fff;
}

.aside-container:hover::-webkit-scrollbar-thumb {
    opacity: 0;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #182f596e;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
    margin-left: 27px;
}

/* sidebar links style starts here */

.nav-link {
    color: var(--var-link-color);
}

.aside-container .nav-link {
    display: grid;
    grid-template-columns: 35px 1fr 10px;
    align-items: center;
    grid-gap: 7px;
}
.nav-link i {
    font-size: 25px;
    color: var(--var-icon-color);
}

.icon {
    width: 25px;
}


input:focus,
button:focus,
select:focus,
textarea:focus {
    box-shadow: none !important;
}

.nav-link:hover {
    background-color: transparent;
}

.navbar .nav-link {
    color: #fff !important;
}

.navbar .nav-link:hover {
    color: #fff;
    background-color: var(--var-primary-color) !important;
}

.navbar .nav-link:focus,
.navbar dropdown-item.active,
.navbar .dropdown-item:active {
    background-color: var(--var-primary-color) !important;
}

.btn-primary:focus {
    color: #fff;
    background-color: var(--var-primary-color) !important;
    border-color: var(--var-primary-color) !important;
    box-shadow: 0 0 0 0.25rem transparent;
}

/* global styles */


/* main section style starts */

main {
    width: calc(100% - 20%);
    margin-inline-start: 20%;
    padding-inline: 1rem;
    margin-block-start: 7rem;
}


/* data table pagination style */

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding-inline: 0.3rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: transparent;
    border-color: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding-inline: 0.3rem;
}

.page-link {
    border-radius: 8px;
}

.page-item.active .page-link {
    background-color: var(--var-primary-color);
    border-color: var(--var-primary-color);
}

thead {
    font-size: 1.125rem;
    text-transform: uppercase;
    text-align: center;
}

input#dashboardDaterange {
    padding: .5rem 1rem;
    width: 100%;
}

.daterangepicker.opensright:before {
    display: none;
}

#checkboxes,
#checkboxes2 {
    position: absolute;
    width: 220px;
    background: #fff;
}

/* design for 1024 screen size */
body {
    font-size: 14px;
}

.aside-container i {
    font-size: 1rem;
}

.aside-container .icon {
    width: 1rem;
}

.notificationRange {
    align-self: center;
    margin-inline-end: 3px;
}

.accordion .modal-header,
.accordion-body,
.accordion-button {
    background-color: #f5f5f5;
    font-weight: 700;
}

.accordion-button::after {
    display: none;
}

.accordion-button:not(.collapsed) {
    color: #182f59;
    background-color: #f5f5f5;
}

.dropdown-menu {
    position: absolute;

}

.modal {
    left: 70px;
}

.modal-backdrop.show {
    margin-left: 18% !important;
}

.menubar {
    list-style-type: none;
    padding: 10px;
    padding-left: 0;
    z-index: 9;
    text-transform: capitalize;
}

.menubar li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.menubar li:first-child {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.menubar li i,
.menubar .icon {
    padding: 8px;
    border: 1px solid var(--var-primary-color);
    color: var(--var-primary-color);
    border-radius: 50%;
    width: 35px;
    height: 33px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubar li a {
    text-decoration: none;
    text-align: left;
    color: black;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 14px;
}

.menubar li a:hover {
    color: black;
}


.menubar li a:focus,
.menubar li a:active {
    background-color: transparent;
    color: black;
}

.menubar .active,
.menubar .active:focus,
.menubar .active:active {
    background-color: #182F59;
    border-radius: 5px;
    border-bottom: none;
    position: relative;
    color: #fff;
}

.menubar .active:hover {
    color: #fff !important;
}

.menubar .active i,
.menubar .active .icon {
    color: white;
    border: 1px solid white;
}

.menubar .active .icon path {
    fill: white;
}

.menubar .active a {
    color: white;
}

.menubar .active::after {
    content: '';
    height: 4px;
    background-color: white;
    width: 25px;
    border-radius: 5px;
    transform: rotate(90deg);
    top: 25px;
    right: 0;
    position: absolute;
}

.menubar .active {
    border-bottom: none;
}

.menubar .dropdown-container li {
    border: none !important;
    padding-block: 0;
}



#event-details td .btn {
    display: contents;
}

#event-details thead {
    font-size: 14px;
}

/*Footer*/

footer {
    background-color: #182f59;
    padding: 30px 0px 0px 0px;
    color: white;
    transition: all 0.5s ease-in;
}
footer a {
    color: white;
}
footer a i{
    font-size: 45px;
}
.footer-shrink{
    width: calc(100% - 260px);
    margin-inline-start: 260px;
}
.footer-box {
    margin-top: 20px;
}

.footer-box h2 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.white-line {
    width: 100%;
    height: 1px;
    background-color: white;
}

.line1 {
    width: 85%;
}

.footer-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-box ul li {
    margin-top: 15px;
    transition: 0.5s;
}

.footer-box ul li:hover {
    padding-left: 5px;
}

.footer-box ul li a {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.footer-text {
    color: black;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.footer-bottom-sm {
    display: none;
}

.footer-down {

    background-color: #f4f4f2;
    padding: 60px 0px;
    margin-top: 25px;
}

.footer-down-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer a img {
    border-radius: 50%;
    border: 1px solid #182f59;
    background-color: #182f59;
    height: 44px;
    width: 45px !important;
    margin-left: 10px;
    margin-top: 2px;
    transition: 0.1s;
}

.footer a img:hover {
    margin-top: 0px;
}

.copyright-btn {
    color: black;
    font-family: "Poppins", sans-serif;
    padding: 1px 0 0 2px;
    border-radius: 20px;
}

.copyright-btn i {
    color: white;
    background-color: rgb(24, 47, 89);
    padding: 7px 20px;
    border-radius: 18px;
    margin-left: 20px;
    transition: 0.5s;
    border: 2px solid #182f59;
}

.copyright-btn:hover {
    color: black;
    text-decoration: none;
}

.copyright-btn:hover i {
    background-color: transparent;
    color: rgb(24, 47, 89);
}

.copyright-btn:focus {
    border: 2px solid #182f59;
}

.footer-box i {
    display: none;
}

.form-group label{
    font-size: 700;
    margin-top: 1rem;
}

@media (max-width:1241px) {
    .jumbotron .col-lg-4 {
        width: 50%;
    }

    #notificationRange {
        display: inline !important;
        width: 40% !important;
    }

    .notificationRange {
        font-size: 13px;
        align-self: center;
    }

    thead {
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
    }

    .event-filter-btn,
    .btn,
    .event-control #filter {
        font-size: 14px !important;
        padding: 4px 2px !important;
    }
}