{% extends 'base/team_user_base.html' %} {% load static %} {% load hosts %} {% block title %} Thank You! {% endblock title %} {% block content %}
<!--Thanks Section-->
<section class="thank-section">
    <h2>Thank You!</h2>
    <i class="fa fa-check-square"></i>
    <p>
        Invitation sent Successfully for your new team members.
    </p>
    <div class="container mt-5 d-flex mx-auto justify-content-evenly">
        <a class="btn bg-navy" target="_blank" href="{% url 'bcs_app:index' %}">Home Page</a>
        <a class="btn bg-navy" target="_blank" href="{% url 'bcs_app:bcs_user_my_team' %}">My Team</a>
    </div>
</section>
{% endblock content %}