{% extends 'base/msbase.html' %} {% load static %} {% load hosts %} {% block title %} Cyber crime investifation by CyberSecurity Professionals {% endblock title %} {% block meta %}
<meta property="og:description" content="Our Osint services provide Open-source investigation, cyber crime investigation which covers hack incident, identity theft, identifying security gaps, etc.." />
<meta name="description" content="Our Osint services provide Open-source investigation, cyber crime investigation which covers hack incident, identity theft, identifying security gaps, etc.." />
<meta property="og:locale" content="en_GB" />
<meta property="og:keywords" content="cyber fraud investigators,Hack Incident,Open Source intelligence,Osint analyst,cybersecurity professionals,digital investigation,Cyber investigation,Cyber Security Investigation,computer crime investigator" /> {% endblock meta %} {% block headercss %}
<link rel="stylesheet" href="{% static '' %}css/glide.core.css" />
<link rel="stylesheet" href="{% static '' %}css/glide.theme.css" /> {% endblock headercss %} {% block content %}
<section class="i-banner" title="digital-investigation-cyber-crime-prevention">
    <div class="container">
        <h2>We investigate to solve and prevent cybercrime.</h2>
    </div>
</section>
<section class="ps-report-slider">
    <div class="ps-report">
        <div class="container">
            <p>Report, Presentation & Free Test</p>
            <h2>
                17 ways High Net Worth Individuals are being hacked & how to be safe.
            </h2>

            <a href="https://personal.techforing.com/ebook" target="_blank" class="psr-btn">Download Now</a>
        </div>
    </div>
</section>
<section class="i-wwd">
    <div class="container">
        <h2 class="wwd-title">
            Our professional forensic investigators are expert in analysis of data from all kind of operating systems, devices and applications
        </h2>
        <div class="row wwd-row justify-content-between">
            <div class="col-md-5">
                <div class="wwd-box">
                    <h2 class="wwd-box-title">CYBERCRIME INVESTIGATION</h2>
                    <p class="wwd-text text-justify">
                        Have you been bullied online or scammed by an intruder? Is your reputation on the line? Techforing cyber fraud investigators have wealth of experience to get to the source of leaks or attacks and provide you with the real motive behind those attacks. We make sure no digital evidence is overlooked.
                    </p>
                    <h2 class="wwd-list-title">Cyber Crimes we cover:</h2>
                    <ul>
                        <li class="text-start">Cyber Harassment</li>
                        <li class="text-start">Cyber Bullying</li>
                        <li class="text-start">Cyber Scamming</li>
                        <li class="text-start">Privacy Invasion</li>
                        <li class="text-start">Phishing Scams</li>
                        <li class="text-start">Hack Incident</li>
                        <li class="text-start">Identity Theft</li>
                    </ul>
                    <div class="case-btn smb-case-btn">
                        <a href="{% host_url 'cyber_crime_investigation' host 'mysecurity' %}" target="_blank">Explore More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 wwd-middle-img-sm">
                <img data-src="{% static '' %}msimg/investigate/fingerprint.png" alt="cyber-crime-investigation- digital-investigation" class="lazy" title="techforing-cyber-crime-investigation-service" />
            </div>
            <div class="col-md-5">
                <div class="wwd-box">
                    <h2 class="wwd-box-title">Open Source intelligence</h2>
                    <p class="wwd-text text-justify">
                        Need information about someone? Our Osint analysts manually detect relevant data from a sea of information so that you evade risks and make better decisions. Our team comprises formal law enforcement agency officers, ex-military officers, and cybersecurity professionals.
                    </p>
                    <h2 class="wwd-list-title">services we offer:</h2>
                    <ul>
                        <li class="text-start">Background check</li>
                        <li class="text-start">Personal information audit</li>
                        <li class="text-start">Identifying security gaps</li>
                        <li class="text-start">Fight information leaks</li>
                        <li class="text-start">Surveillance and private monitoring</li>
                        <li class="text-start">Expose the intruders and his motive</li>
                        <li class="text-start">Accurate and actionable findings</li>
                    </ul>
                    <div class="case-btn smb-case-btn">
                        <a href="{% host_url 'osint_investigations' host 'mysecurity' %}" target="_blank">Explore More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wwd-middle-img-bg">
            <img data-src="{% static '' %}msimg/investigate/fingerprint.png" alt="Finger Print Img" class="lazy" />
        </div>
    </div>
</section>
<section class="i-methods">
    <div class="container">
        <h2 class="method-title">
            METHODS THAT TECHFORING FOLLOW FOR CYBER CRIME INVESTIGATION
        </h2>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <div class="method-box">
                    <img data-src="{% static '' %}msimg/investigate/object1.png" alt="Method 1" class="lazy" />
                    <p class="method-text">Information Gathering</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="method-box">
                    <img data-src="{% static '' %}msimg/investigate/object2.png" alt="Method 1" class="lazy" />
                    <p class="method-text">Investigation</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="method-box">
                    <img data-src="{% static '' %}msimg/investigate/object3.png" alt="Method 1" class="lazy" />
                    <p class="method-text">Evidence Collection</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="method-box">
                    <img data-src="{% static '' %}msimg/investigate/object4.png" alt="Method 1" class="lazy" />
                    <p class="method-text">Uncovered Truth</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="method-box">
                    <img data-src="{% static '' %}msimg/investigate/object5.png" alt="Method 1" class="lazy" />
                    <p class="method-text">Final Result</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="iclient">
    <div class="container">
        <h2 class="iclient-title">what our clients are saying</h2>
        <div class="iclient-slider">
            <div class="glide" id="testi-glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <div class="islider-img-box">
                                <div class="islider-box">
                                    <div class="back-part"></div>
                                    <div class="front-part"></div>
                                    <div class="iclient-box">
                                        <p class="iclient-speech text-justify">
                                            My cryptocurrency got stolen despite it's deemed to be pretty secure. I can understand things happen! Tried law enforcement but got no help, then hired the Techforing team to get my funds back. They traced back the hacker and forced him return the cash
                                            with the same value of lost crypto. Excellent job indeed!
                                        </p>
                                        <h2 class="iclient-name">Joseph McCray (USA)</h2>
                                        <h2 class="iclient-company">Strategic Security</h2>
                                        <p class="iclient-des">Founder & CEO</p>
                                    </div>
                                </div>
                                <div class="iclient-img">
                                    <img data-src="{% static '' %}msimg/investigate/Joseph-McCray.jpg" alt="" class="lazy" />
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="islider-img-box">
                                <div class="islider-box">
                                    <div class="back-part"></div>
                                    <div class="front-part"></div>
                                    <div class="iclient-box">
                                        <p class="iclient-speech text-justify">
                                            Wanted to find out about all my digital trace and remove any personal information that is out there. They got me what I needed. Dont know how they did it. But thery managed to gather some vital intelligence. Surely, it's not the 1st time I will be hiring
                                            them. Gotta work together again soon!
                                        </p>
                                        <h2 class="iclient-name">Jonathan Tunney (USA)</h2>
                                        <h2 class="iclient-company">
                                            Atlas Capital Advisors LLC
                                        </h2>
                                        <p class="iclient-des">Managing Partner</p>
                                    </div>
                                </div>
                                <div class="iclient-img">
                                    <img data-src="{% static '' %}msimg/investigate/jon-tonney.jpg" alt="" class="lazy" />
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="islider-img-box">
                                <div class="islider-box">
                                    <div class="back-part"></div>
                                    <div class="front-part"></div>
                                    <div class="iclient-box">
                                        <p class="iclient-speech text-justify">
                                            A public post from our official page got a lot of negative comments and it was clear most of those accounts are fake or linked to one account. I hired Team Techforing knowing they handle cyber harassment cases like this. I don't know how you guys did
                                            it, but I am surprised how you got to the bottom of it and brought out the miscreant in the light. Thanks for your work. I'll review your report paper and pass it along to a member of our executive team.
                                        </p>
                                        <h2 class="iclient-name">Benjamin Beck (USA)</h2>
                                        <h2 class="iclient-company">DigiCert, Inc.</h2>
                                        <p class="iclient-des">
                                            Sr. Marketing Automation Manager
                                        </p>
                                    </div>
                                </div>
                                <div class="iclient-img">
                                    <img data-src="{% static '' %}msimg/investigate/benjamin-beck.jpg" alt="" class="lazy" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="glide__bullets iclient-bullet" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0"></button>
                    <button class="glide__bullet" data-glide-dir="=1"></button>
                    <button class="glide__bullet" data-glide-dir="=2"></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="case-section">
    <div class="container">
        <div class="pcs-line"></div>
        <h2 class="case-title">Important Case Studies</h2>
    </div>
    <div class="smb-box-fluid">
        <div class="container">
            <div class="case-box">
                <div class="row">
                    <div class="col-md-4">
                        <div class="case-img">
                            <img data-src="{% static '' %}msimg/personal-service/love_trap.jpg" alt="cyber-crime-investigation-case-study-track-hacker" class="lazy" title="cyber-crime-investigation-case-study1" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="case-inner">
                            <div class="smb-case-box">
                                <h2 class="case-box-title">Online Scam -Love Trap</h2>
                                <p class="case-text text-justify">
                                    People get picked up regularly on dating apps by scammers. A seemingly sweet person can unravel as a con-man and can destroy a person's personal life in a matter of moments. We faced a case where an American man started having things for a young lady,
                                    who seemed innocent at first...
                                </p>
                                <div class="case-btn smb-case-btn">
                                    <a href="https://blog.techforing.com/case_studies/online-dating-scam-love-trap/" target="_blank">Read
                    More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-box">
                <div class="row">
                    <div class="col-md-4">
                        <div class="case-img">
                            <img data-src="{% static '' %}msimg/personal-service/data_theft.jpg" alt="cyber-crime-investigation-case-study-cyber-stalking" class="lazy" title="cyber-scamming-case-study2" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="case-inner">
                            <div class="smb-case-box">
                                <h2 class="case-box-title">
                                    Data theft and online scam - cybercrime investigation
                                </h2>
                                <p class="case-text text-justify">
                                    You won't believe a file you just downloaded can eventually download all your files! We met a victim of data theft, whose well-organized sound life started to fall apart with just a click - A classic case of an online scam. Read and find out what our
                                    cyber investigators found from his device.
                                </p>
                                <div class="case-btn smb-case-btn">
                                    <a href="https://blog.techforing.com/case_studies/data-theft-online-scam/" target="_blank">Read
                    More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-box">
                <div class="row">
                    <div class="col-md-4">
                        <div class="case-img">
                            <img data-src="{% static '' %}msimg/personal-service/online_harrasment.jpg" alt="cyber-crime-investigation-cyber-blackmailing" class="lazy" title="cyber-crime-case-study3" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="case-inner">
                            <div class="smb-case-box">
                                <h2 class="case-box-title">Online Harassment</h2>
                                <p class="case-text text-justify">
                                    A school teacher's life was turned upside down by a stalker who kept on harassing her in various ways. Cybercrimes like these are quite common among individuals and lead to cases of paranoia. We investigate such cases using forensic evidence and try to
                                    give closure to the victim.
                                </p>
                                <div class="case-btn smb-case-btn">
                                    <a href="https://blog.techforing.com/case_studies/online-harassment-saving-nine/" target="_blank">Read
                    More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="icase">
      <h2>Case Studies</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 100%">
              <img
                src="{% static '' %}msimg/investigate/icase1.png"
                class="card-img-top"
                alt="case 1"
              />
              <div class="card-body">
                <h5 class="card-title">cyber harrasement</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 100%">
              <img
                src="{% static '' %}msimg/investigate/icase2.png"
                class="card-img-top"
                alt="case 2"
              />
              <div class="card-body">
                <h5 class="card-title">virus infection</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 100%">
              <img
                src="{% static '' %}msimg/investigate/icase3.png"
                class="card-img-top"
                alt="case 3"
              />
              <div class="card-body">
                <h5 class="card-title">recover hacked device</h5>
              </div>
            </div>
          </div>
        </div>
        <button class="card-btn">SEE MORE</button>
      </div>
    </section> -->
<section class="protect inves-cta lazy" data-bg="{% static '' %}msimg/investigate/icta.png">
    <div class="container">
        <h2>
            No Getting away Committing Cybercrimes Anymore We're here to catch the criminal and bring justice
        </h2>
        <a href="{% host_url 'get_start' %}" target="_blank">
            <button>Lets Start Now</button></a>
    </div>
</section>
{% endblock content %} {% block customjs %}

<script>
    new Glide("#glide", {
        type: "carousel",
        keyboard: true,
        autoplay: 2500,
        hoverpause: true,
        perView: 1,
    }).mount();
</script>
<script>
    new Glide("#testi-glide", {
        type: "carousel",
        perView: 1,
        autoplay: 3000,
        keyboard: true,
    }).mount();
</script>
<script>
    $(document).ready(function() {
        $("#my-header").load("header.html");
    });
</script>
<script>
    $(document).ready(function() {
        $("#my-footer").load("footer.html");
    });
</script>
{% endblock customjs %}