{% extends 'base/msbase.html' %} {% load static %} {% load hosts %} {% block title %} Your Personal Incident Responder | Cybersecurity Solution for Individuals {% endblock title %}
<meta property="og:description" content="Our expert incident responders recover hacked social media accounts, personal devices, email addresses. As a data breach response, we get rid of malware, remove adware from MAC, and clean up viruses on my phone."
/>
<meta name="description" content="Our expert incident responders recover hacked social media accounts, personal devices, email addresses. As a data breach response, we get rid of malware, remove adware from MAC, and clean up viruses on my phone." />
<meta property="og:locale" content="en_GB" />
<meta property="og:keywords" content="Incident Responder,data breach response, recover hacked social media accounts, get rid of malware, remove adware from MAC, clean up viruses on my phone, remove personal data from the internet, remove malware from pc, cybersecurity consultants, incident response plan, techforing"
/> {% block headercss %}
<link rel="stylesheet" href="{% static '' %}css/glide.core.css" />
<link rel="stylesheet" href="{% static '' %}css/glide.theme.css" /> {% endblock headercss %} {% block content %}
<section class="ir-banner">
    <div class="container">
        <h2>
            We aim to reduce the damage caused by a cyberattack and recover fast
        </h2>
    </div>
</section>
<section class="ps-report-slider">
    <div class="ps-report">
        <div class="container">
            <p>Report, Presentation & Free Test</p>
            <h2>
                17 ways High Net Worth Individuals are being hacked & how to be safe.
            </h2>

            <a href="https://personal.techforing.com/ebook" target="_blank" class="psr-btn">Download Now</a>
        </div>
    </div>
</section>
<section class="ir-category-nav" id="sticky-nav">
    <nav class="ir-sticky">
        <div class="container">
            <div class="ir-sticky-box" id="sticky-box">
                <a href="#hack-recovery" class="scroll">Hack Recovery</a>
                <a href="#virus-removal" class="scroll">Virus Removal</a>
                <a href="#data-removal" class="scroll">Data Removal</a>
            </div>
        </div>
    </nav>
</section>
<section class="ir-category">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ir-category-img" id="hack-recovery">
                    <img data-src="{% static '' %}msimg/incident/SMH.png" alt="Social Hack Recovery" class="lazy" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="ir-category-box">
                    <h2>HACK RECOVERY</h2>
                    <small>Recover accounts and devices by eliminating threats</small>
                    <p class="text-justify">
                        Do you suspect your social media accounts, personal devices, email addresses are being hacked? If you are certain that any of these, including financial accounts and personal cloud platforms, has been compromised, you must respond fast and in the right way to minimize the fallout. Our cybersecurity consultants offer a comprehensive incident response plan to restore the system. We identify, contain, eliminate the danger, and educate you to avoid further occurrence.
                    </p>
                    <div class="ir-btn">
                        <a href="{% host_url 'hack_recovery_service' host 'mysecurity' %}" target="_blank">Explore More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ir-category-img" id="virus-removal">
                    <img data-src="{% static '' %}msimg/incident/VRH.png" alt="Social Hack Recovery" class="lazy" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="ir-category-box">
                    <h2>virus & spyware removal</h2>
                    <small>Remove virus and malware from your system</small>
                    <p class="text-justify">
                        You installed an anti-malware software and firewall not so long ago, still, your device keeps slowing down, applications crashing frequently, unusual error messages popping up, all things that lead you to only one thing - the system is infected by Malware, spyware, or some other virus. Security threats are dynamic enough to bypass firewalls and antivirus tools these days. Our cybersecurity experts run a full scan of your system, remove malware from your PC, remove adware from MAC, and restore your system back to the clean state you desire.
                    </p>
                    <div class="ir-btn">
                        <a href="{% host_url 'remove_malware_from_pc' host 'mysecurity' %}" target="_blank">Explore More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ir-category-img" id="data-removal">
                    <img data-src="{% static '' %}msimg/incident/DBRH.png" alt="incident-responder-cyber-security-consultant" class="lazy" title="techforing-cybersecurity-consultant" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="ir-category-box">
                    <h2>DATA REMOVAL</h2>
                    <small>Remove yourself from data collection sites</small>
                    <p class="text-justify">
                        Is your personal and professional life in jeopardy because someone leaked your private data online or misrepresented you in a fake dating profile? Perhaps you are getting too many spam calls and emails or you have a privacy concern about your digital trace. More often than not, it’s difficult for an average person to fathom such security incidents and fix them himself. So, you can hire us to do the hard work. We remove personal data from the internet and ensure it stays dead.
                    </p>
                    <div class="ir-btn">
                        <a href="{% host_url 'data_removal' host 'mysecurity' %}" target="_blank">Explore More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="iclient">
    <div class="container">
        <h2 class="iclient-title">what our clients are saying</h2>
        <div class="iclient-slider">
            <div class="glide" id="testi-glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <div class="islider-img-box">
                                <div class="islider-box">
                                    <div class="back-part"></div>
                                    <div class="front-part"></div>
                                    <div class="iclient-box">
                                        <p class="iclient-speech text-center">
                                            Techforing team is professional, they got some instructors who knows a lot about the current technologies. Knows ins and outs of a security system. Very open-minded and patiently made the team understand how things are in this field. I hope they learnt
                                            a lot. Thank you guys!
                                        </p>
                                        <h2 class="iclient-name">Jatinder Giri (USA)</h2>
                                        <h2 class="iclient-company">nClouds</h2>
                                        <p class="iclient-des">CEO</p>
                                    </div>
                                </div>
                                <div class="iclient-img">
                                    <img src="{% static '' %}msimg/Jatinder Giri.jpg" alt="" class="lazy" />
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="islider-img-box">
                                <div class="islider-box">
                                    <div class="back-part"></div>
                                    <div class="front-part"></div>
                                    <div class="iclient-box">
                                        <p class="iclient-speech text-center">
                                            My PC's acting strangely of late. Applications kept shutting down on me, was losing data left and right. decided to install a virus guard, hired Techforing Engineers. They setup Kaspersky remotely. Now, I'm running it for 3 days as smooth as a new car!
                                            gotta say- Great Work, you guys are really Focused on getting the project done right.
                                        </p>
                                        <h2 class="iclient-name">Shawn Bowman (USA)</h2>
                                        <h2 class="iclient-company">
                                            IdeaSeat Marketing and Advertising, LLC
                                        </h2>
                                        <p class="iclient-des">President</p>
                                    </div>
                                </div>
                                <div class="iclient-img">
                                    <img src="{% static '' %}msimg/shawn-bowman.jpg" alt="" class="lazy" />
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="islider-img-box">
                                <div class="islider-box">
                                    <div class="back-part"></div>
                                    <div class="front-part"></div>
                                    <div class="iclient-box">
                                        <p class="iclient-speech text-center">
                                            I needed a cybersecurity expert who could encrypt financial data then transfer to another place securedly. The guy from This team seemed to be a Pro at it. With his help I believe my project is safeguarded enough. He was great to work with. Will hire
                                            again for next phase of project.
                                        </p>
                                        <h2 class="iclient-name">
                                            Joejet Atchuela (Phillipines)
                                        </h2>
                                        <h2 class="iclient-company">
                                            Prodigy Professional Services
                                        </h2>
                                        <p class="iclient-des">IT Head</p>
                                    </div>
                                </div>
                                <div class="iclient-img">
                                    <img src="{% static '' %}msimg/Joejet-Atchuela.jpg" alt="" class="lazy" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="glide__bullets iclient-bullet" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0"></button>
                    <button class="glide__bullet" data-glide-dir="=1"></button>
                    <button class="glide__bullet" data-glide-dir="=2"></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="case-section">
    <div class="container">
        <div class="pcs-line"></div>
        <h2 class="case-title">Important Case Studies</h2>
    </div>
    <div class="smb-box-fluid">
        <div class="container">
            <div class="case-box">
                <div class="row">
                    <div class="col-md-4">
                        <div class="case-img">
                            <img src="{% static '' %}msimg/personal-service/privacy_compromise.jpg" alt="incident-responder-hack-recovery" class="lazy" title="Techforing-incident-response-service" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="case-inner">
                            <div class="smb-case-box">
                                <h2 class="case-box-title">
                                    Privacy Compromised- Social Media got Hacked
                                </h2>
                                <p class="case-text text-justify">
                                    A genuinely harmless individual can also be a victim of social media hackers. We had a client who was unaware of how some of her harmless actions could rub someone in the wrong way to the extent that they could go on to destroy her private life. Read
                                    to find out how it all started.
                                </p>
                                <div class="case-btn smb-case-btn">
                                    <a href="https://blog.techforing.com/case_studies/social-media-got-hacked/" target="_blank">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-box">
                <div class="row">
                    <div class="col-md-4">
                        <div class="case-img">
                            <img src="{% static '' %}msimg/personal-service/phone_hack.jpg" alt="incident-reposnder-cybersecurity-consultants" class="lazy" title="Techforing-data-protection-service" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="case-inner">
                            <div class="smb-case-box">
                                <h2 class="case-box-title">
                                    Smartphone Hacked with zero day exploit
                                </h2>
                                <p class="case-text text-justify">
                                    We faced a case where the client was smart, informed, and quite intuitive. He quickly sensed something was off with his smartphone. So, he contacted us and what we found was astounding - A perfect zero day exploit case that you must not miss out!
                                </p>
                                <div class="case-btn smb-case-btn">
                                    <a href="https://blog.techforing.com/case_studies/smartphone-got-hacked-with-spyware/" target="_blank">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-box">
                <div class="row">
                    <div class="col-md-4">
                        <div class="case-img">
                            <img src="{% static '' %}msimg/personal-service/data_theft.jpg" alt="incident-responder-data-breah-response" class="lazy" title="techforing-privacy-protection-warning" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="case-inner">
                            <div class="smb-case-box">
                                <h2 class="case-box-title">
                                    Data theft and online scam - cybercrime investigation
                                </h2>
                                <p class="case-text text-justify">
                                    You won't believe a file you just downloaded can eventually download all your files! We met a victim of data theft, whose well-organized sound life started to fall apart with just a click - A classic case of an online scam. Read and find out what our
                                    cyber investigators found from his device.
                                </p>
                                <div class="case-btn smb-case-btn">
                                    <a href="https://blog.techforing.com/case_studies/data-theft-online-scam/" target="_blank">Read
                    More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="protect inci-cta lazy" data-bg="{% static '' %}msimg/incident/cta.jpg">
    <div class="container">
        <h2>Want to recover your hacked digital asset?</h2>
        <a href="{% host_url 'get_start' host 'main' %}" target="_blank"><button>Lets Start Now</button></a>
    </div>
</section>
{% endblock content %} {% block customjs %}
<script src="{%static ''%}msjs/scroll.js"></script>
<script>
    new Glide("#glide", {
        type: "carousel",
        perView: 3,
        autoplay: 2500,
        hoverpause: true,
        breakpoints: {
            800: {
                perView: 1,
            },
        },
    }).mount();
</script>
<script>
    new Glide("#testi-glide", {
        type: "carousel",
        perView: 1,
        autoplay: 3000,
        keyboard: true,
    }).mount();
</script>
<script>
    $(document).ready(function() {
        $("#my-header").load("header.html");
    });
</script>
<script>
    $(document).ready(function() {
        $("#my-footer").load("footer.html");
    });
</script>
{% endblock customjs %}