{% extends 'base/base.html' %}
{% load static %}
{% load hosts %} {% block title %} Techforing | Cyber Security companies {% endblock title %}

{% block meta %}
    <meta property="og:description"
          content="TechForing is one of those cyber security companies with a team of talented and exciting individuals, aimed at protecting digital assets for corporations and individuals and providing safer cyberspace for everyone."
    />
    <meta name="description"
          content="TechForing is one of those cyber security companies with a team of talented and exciting individuals, aimed at protecting digital assets for corporations and individuals and providing safer cyberspace for everyone."/>
    <meta name="keywords"
          content="cyber security companies, managed it security services,managed security providers,data security management,cyber security services company,enterprise cybersecurity,cyber security solution providers,network security consultants,it security firms,information security consultants,managed security service provider,managed cybersecurity services,cybersecurity as a service,cyber security provider,cybersecurity service provider,cyber security consulting firms,cybersecurity for small business,cyber security consulting company,information security courses,information security companies,cyber security business, data security companies"
    />

    <script type="6f1eb87dd80041fbb8b863ea-text/javascript">
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            "gtm.start": new Date().getTime(),
            event: "gtm.js"
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-5ZK559W");

    </script>

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZK559W" height="0" width="0"
                style="display: none; visibility: hidden"></iframe
        >
    </noscript>

{#    <script src="{% static 'js/purecookie.js' %}" type="6f1eb87dd80041fbb8b863ea-text/javascript"></script>#}

    </body>



{% endblock meta %}

{% block headercss %}
    <link rel="stylesheet" href="{% static '' %}"/>
    <link rel="stylesheet" href="{% static 'tfcss/glide.core.css' %}"/>
    <link rel="stylesheet" href="{% static 'tfcss/glide.theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'tfcss/style.css' %}"/> {% endblock headercss %}
{% block content %}
    <section class="about-banner">
        <div class="container">
            <h2 class="about-btext">Shaping Tomorrow's Cybersecurity</h2>
        </div>
    </section>
    <section class="story-sec">
        <div class="container">
            <div class="row about-story-row">
                <div class="col-md-5">
                    <div class="mission">
                        <h2 class="text-end">Our Mission</h2>
                        <p class="text-end">
                            With a team of talented and exciting individuals, our mission is to protect digital assets
                            for corporations and individuals and provide a safer cyberspace for everyone.
                        </p>
                    </div>
                    <div class="vision">
                        <h2 class="text-end">Our Vision</h2>
                        <p class="text-end">
                            We aim to be no. 1 among cybersecurity companies in terms of high quality IT security,
                            customer service, and work ethics. Regardless of size and affordability, we are working
                            towards hack proofing every business and individual throughout the entire world.
                        </p>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="story">
                        <h2>Our Story</h2>
                        <p>
                            The present CEO & MD Mr. Rabiul Islam has been globally consulting as a cybersecurity specialist since 2008. He never thought to start his career journey in the cybersecurity field, but having an immense amount of passion in cybersecurity, he quickly became a skilled cybersecurity professional.
                        </p>
                        <p>
                            Finally, in 2014, he and Ms. Rehena Parveen established TechForing as a private limited company in Dhaka, Bangladesh. Since then, we have set up our regional offices in Istanbul- Turkey, Michigan- USA and London- UK. In 2020, more like-minded partners, i.e. Mr. Phillip R Moran and Mr. Mahbub Choudhury, joined the board of directors.
                        </p>
                        <p>
                            At present, TechForing employs 150+ experienced in-house cybersecurity specialists distributed in four continents. With the vast resource pool of security researchers experienced in a wide range of domains, we stand out in this high cyberattack-prone IT industry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-client about-client-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="client-abox d-flex">
                        <div class="client-abox-img">
                            <img src="{% static 'tfimg/about/rabiul-islam.png' %}" title="Techforing Management MD"
                                 alt="TechForing CEO & Managing Director Image"/>
                        </div>
                        <div class="client-abox-details">
                            <h2 class="client-abox-name text-center">Rabiul Islam</h2>
                            <h2 class="client-abox-add text-center">CEO & Managing Director</h2>
                            <h2 class="client-abox-des text-center">TechForing Ltd</h2>
                            <p class="text-center">
                                "Cybersecurity is in our DNA. We want to have a high level of impact through our contribution to the world of cyberspace."
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="client-abox d-flex">
                        <div class="client-abox-img">
                            <img src="{% static 'tfimg/about/phil-r-moran-techforing.png' %}"
                                 title="Techforing Managment USA" alt="cyber-security-compnaies-usa-management"/>
                        </div>
                        <div class="client-abox-details">
                            <h2 class="client-abox-name text-center">PHILLIP R MORAN</h2>
                            <h2 class="client-abox-add text-end text-center">Managing Partner</h2>
                            <h2 class="client-abox-des text-center">TechForing Ltd, USA</h2>
                            <p class="text-center">
                                "With our team efforts and help from all like-minded partners, TechForing wants to build a global ecosystem for cybersecurity intelligence."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-count">
        <h2 class="count-header">
            WE HAVE PROVIDED CYBERSECURITY SERVICES TO OVER 54 COUNTRIES
        </h2>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3">
                    <div class="about-count-box">
                        <img src="{% static 'tfimg/about/step1.png' %}" alt="step img"/>

                        <h2 class="count-title">COMPANIES CHOSE US</h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="about-count-box">
                        <img src="{% static 'tfimg/about/step2.png' %}" alt="step img"/>

                        <h2 class="count-title">Individual Clients</h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="about-count-box">
                        <img src="{% static 'tfimg/about/step3.png' %}" alt="step img"/>

                        <h2 class="count-title">Satisfied Clients</h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="about-count-box">
                        <img src="{% static 'tfimg/about/step4.png' %}" alt="step img"/>
                        <h2 class="count-title">Specialist</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-client about-client-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="client-abox client-abox-sm d-flex">
                        <div class="client-abox-img">
                            <img src="{% static 'tfimg/about/rabiul-islam.png' %}" alt="Client Image"/>
                        </div>
                        <div class="client-abox-details">
                            <h2 class="client-abox-name">Rabiul Islam</h2>
                            <h2 class="client-abox-add">CEO & Managing Director</h2>
                            <h2 class="client-abox-des">TechForing Ltd</h2>
                            <p>
                                Cybersecurity is in our DNA. We want to have a high level of impact through our
                                contribution to the world of cyberspace.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="client-abox d-flex">
                        <div class="client-abox-img">
                            <img src="{% static 'tfimg/about/phil-r-moran.png' %}" alt="Client Image"/>
                        </div>
                        <div class="client-abox-details">
                            <h2 class="client-abox-name">Phil R Moran</h2>
                            <h2 class="client-abox-add">Managing Partner</h2>
                            <h2 class="client-abox-des">TechForing Ltd, USA</h2>
                            <p>
                                With our team efforts and help from all like minded partners, TechForing wants to build
                                a global ecosystem for cybersecurity intelligence.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="aslider">
        <div class="container">
            <h2>
                LARGE ENTERPRISE, GOVERNMENT AGENCIES, LAW ENFORCEMENT, AND SMB, WE HAD THE HONOR TO WORK WITH ALL KINDS
                OF BUSINESSES.
            </h2>
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides about-glide-ul">
                        <li class="glide__slide">
                            <div class="about-glide-img">
                                <img src="{% static 'tfimg/about/bdArmy.png' %}" title="Techforing Client-BD Army"
                                     alt="cyber-security-companies-techforing-client-bd-army"
                                     longdesc="BD Army is our one of our respected client"/>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="about-glide-img">
                                <img src="{% static 'tfimg/about/US-Army.png' %}" title="Techforing Client-US Army"
                                     alt="cyber-security-companies-us-army" longdesc="techforing Client US army"/>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="about-glide-img">
                                <img src="{% static 'tfimg/about/IBM.png' %}" alt="cyber-security-companies-partner-ibm"
                                     longdesc="IBM is one of our partner"/>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="about-glide-img">
                                <img src="{% static 'tfimg/about/TCDD.png' %}" title="techforing Client TCDD"
                                     alt="cyber-security-companies-client-tcdd"
                                     longdesc="TCDD is one of our respected clients"/>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="about-glide-img">
                                <img src="{% static 'tfimg/about/MOEM.png' %}" title="Techforing Client MOEM"
                                     alt="cyber-security-companies-moem"
                                     longdesc="MOEM is one of our respected client"/>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="about-glide-img">
                                <img src="{% static 'tfimg/about/nclouds.png' %}" title="Techforing Client nClouds"
                                     alt="cyber-security-companies-nclouds"
                                     longdesc="nClouds is one of our respected client"/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left aslide-arrow-left" data-glide-dir="<">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button class="glide__arrow glide__arrow--right aslide-arrow-right" data-glide-dir=">">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="about-protect">
        <div class="container">
            <div class="ap-line"></div>
            <p>Keep your digital assets safe with Techforing Cybersecurity</p>
            <h2>Here's your starting point of protection & breach preventation</h2>
            <a href="{% host_url 'get_start' %}" target="_blank">
                <button>Get Protected <i class="fas fa-arrow-right"></i></button>
            </a>
        </div>
    </section>
{% endblock content %}
{% block customjs %}
    <script src="{% static 'tfjs/glide.js' %}"></script>

    <script>
        new Glide(".glide", {
            type: "carousel",
            perView: 6,
            gap: 20,
            breakpoints: {
                800: {
                    perView: 3
                },
            },
        }).mount();
    </script>
    <script>
        $(document).ready(function () {
            $("#my-header").load("header.html");
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#my-footer").load("footer.html");
        });
    </script>
{% endblock customjs %}