{% extends 'base/base.html' %}
{% load static %}
{% load hosts %}

{% block title %}
Cart
{% endblock title %}

{% block headercss %}
<link rel="stylesheet" href="{% static '' %}tfcss/style.css" />
{% endblock headercss %}

{% block content %}
<section class="pro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="user-img">
          {% if user_data.profile_img %}
          <img src="{{user_data.profile_img.url}}" alt="" />
          {% else %}
          <img src="{%static ''%}tfimg/about/Header.png" />
          {% endif %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="user-basic">
          <h2>{{ user_data }}</h2>
          <p>{{ user_data.business_email }}</p>
          <p>{{ user_data.business_phone_no }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pro-menu">
  <div class="container">
    <ul>
      <li><a href="{%url 'user_profile'%}">Profile</a></li>
      <li><a href="{%url 'event_webniar'%}">Events & Webinars</a></li>
      <li><a href="{%url 'reading'%}">reading list</a></li>
      <li><a href="{%url 'product_service'%}">products & services</a></li>
      <li><a href="{%url 'cart'%}">Your Cart</a></li>
      <li><a href="{%url 'order_history'%}">Order History</a></li>
      <li><a href="{%url 'subscription'%}">Subscription</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  </div>
</section>
<section class="cart-section">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="cart-list">
          <h2>Your Product List</h2>
          <table>
            <tr>
              <th>Service Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Discount</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
            {% for cart in carts %}
            <tr>
              <td>{{cart.sub_service.sub_service_name}}</td>
              <td>{{cart.quantity}}</td>
              <td>${{cart.price}}</td>
              <td>${{cart.discount}}</td>
              <td>${{cart.total}}</td>
              <td>
                <button><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cart-order">
          <h2>Order Summary</h2>
          <div class="order-sum">
            <p>Subtotal ({{total_item}} Item)</p>
            <table>
              <tr>
                <td>Coupon</td>
                <td>...</td>
              </tr>
              <tr>
                <td>Vat & Tax</td>
                <td>${{vats.total_vat}}</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>${{sub_totals.sub_total}}</td>
              </tr>
            </table>
            <a href="#">Proceed to checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block customjs %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/tfjs/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<script src="{% static '' %}tfjs/career.js"></script>
<script src="{% static '' %}tfjs/find.js"></script>
<script>
  $(document).ready(function () {
    $("#my-header").load("header.html");
  });
</script>
<script>
  $(document).ready(function () {
    $("#my-footer").load("footer.html");
  });
</script>
{% endblock customjs %}