{% extends 'base/base.html' %} {% load static %} {% load hosts %} {% block meta %}
<meta property="og:description" content="Our Cyber Security Risk Assessment Service is specifically tailored for businesses to rapidly assess their ability to identify, defend and protect business information against Cyber Attacks." />
<meta name="description" content="Our Cyber Security Risk Assessment Service is specifically tailored for businesses to rapidly assess their ability to identify, defend and protect business information against Cyber Attacks." />
<meta name="keywords" content="cyber security risk assessment, cyber vulnerabilities assessment, risk management assessment, risk management services, information security risk management" /> {% endblock meta %} {% block title %} Cyber Security Risk Assessment for Business {% endblock title %} {% block headercss %}
<link rel="stylesheet" href="{% static 'css/glide.core.css' %}" />
<link rel="stylesheet" href="{% static 'css/glide.theme.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" /> {% endblock headercss %} {% block content %}
<section class="risk-banner">
    <div class="container">
        <div class="risk-bar"></div>
        <h2>ASSESS YOUR SYSTEM WITH RISK ANALYSIS AND THREAT EVALUATION</h2>
    </div>
</section>
<section class="risk-slider">
    <div class="container">
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <div class="rs-outer-box">
                            <div class="rs-inner-box">
                                <h2 class="rs-title">Report, Guide & Tool</h2>
                                <p class="rs-text">
                                    A definitive guide to secure your business from external and internal cyberattacks.
                                </p>
                                <a href="https://personal.techforing.com/ebook" class="rs-btn" target="_blank">Download Now</a
                    >
                  </div>
                </div>
              </li>
              <!-- <li class="glide__slide">
                <div class="rs-outer-box">
                  <div class="rs-inner-box">
                    <h2 class="rs-title">Report, Guide & Tool</h2>
                    <p class="rs-text">
                      Assess your website for SQLi, XSS, CSRF and other common
                      OWASP vulnerabilities, free tool.
                    </p>
                    <a
                      href="https://thirdeye.techforing.com"
                      class="rs-btn"
                      target="_blank"
                      >Run Assessment</a
                    >
                  </div>
                </div>
              </li> -->
              <li class="glide__slide">
                <div class="rs-outer-box">
                  <div class="rs-inner-box">
                    <h2 class="rs-title">Report, Guide & Tool</h2>
                    <p class="rs-text">
                      17 ways High Net Worth Individuals are being hacked & how
                      to be safe.
                    </p>
                    <a
                      href="https://personal.techforing.com/ebook"
                      class="rs-btn"
                      target="_blank"
                      >Download Now</a
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="glide__bullets rs-bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
          </div>
        </div>
      </div>
    </section>
    <section class="rasses-section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 asses-box-lg">
            <div class="asses-box">
              <div class="red-line"></div>
              <h2>what we assess</h2>
              <p class="text-start">On Average, 30,000 New Websites Are Hacked Every Day.</p>
              <small class="text-justify">We assess OWASP TOP 10 cyber vulnerabilities, which include XXE, SQLI, XSS, CSRF, sensitive data exposure, Broken Authentication, etc. Whether you have a CMS (WordPress, Magnolia, Wix etc) or custom-built application, we research and identify the exploitable loopholes and deliver proposals in a full proof report for you to work on. Precise execution should harden your database and frontend.</small
              >
            </div>
            <div class="asses-box">
              <div class="red-line"></div>
              <h2>what we assess</h2>
              <p>73% of hackers said firewalls can’t protect your system.</p>
              <small
                >Companies’ network elements are usually not up to date whereas
                the company server has all the data. It makes it easier for
                attackers to simply bypass the firewall and get access to the
                server; download the data slowing down the system. So, we keep
                your server up to date and apply security patch; It is also
                crucial to do risk assessment of the server configuration,
                third-party libraries, and network settings.
              </small>
            </div>
            <div class="asses-box">
              <div class="red-line"></div>
              <h2>what we assess</h2>
              <p>Cloud servers must have robust data security features.</p>
              <small
                >All public cloud service providers, including AWS, Google
                Cloud, Microsoft Azure, have excellent security features, but
                you will have to set your own rules. These must meet the right
                standards for data protection. You might already have ip policy,
                user group rules in place. Despite that, your cloud might be
                unsafe. It’s always a good idea to have experts look into your
                system and provide right risk management consultation.
              </small>
            </div>
            <div class="asses-box">
              <div class="red-line"></div>
              <h2>what we assess</h2>
              <p>
                Hackers can access APIs by attaching some sensitive data to the
                request.
              </p>
              <small
                >API security is critical to organizations as they often leak
                sensitive data while transferring information between systems
                internally or externally. We do manual API vulnerability
                assessment for a wide range of APIs, including but not limited
                to Web Service APIs (SOAP, REST, JSON), Web Socket APIs,
                Class-Based APIs, etc.</small
              >
            </div>
            <div class="asses-box">
              <div class="red-line"></div>
              <h2>what we assess</h2>
              <p>Mobile apps' security saves your businesses’ reputation.</p>
              <small
                >Server Side controls may be weak; binary protection might be
                lacking; data storage doesn’t have enough security steps. All
                these issues can make your mobile app vulnerable to attackers.
                Your business data can get stolen. Either you have an android or
                iOS application, we do source code auditing for both. We do not
                only find potential vulnerabilities; we also consult our clients
                about best security practices.</small
              >
            </div>
            <div class="asses-box">
              <div class="red-line"></div>
              <h2>what we assess</h2>
              <p>Desktop apps of businesses are usually interconnected</p>
              <small
                >Therefore if the hacker gets access to one of the apps, all the
                desktop apps can be infiltrated. Our cyber security risk
                assessment team does source code auditing to the desktop
                applications and reports their findings of potential cyber
                threat. When it comes to desktop apps, we work with Macbook,
                Windows, Netbook, Laptop. PDA, all types of latest workstations
                used in business premises.
              </small>
            </div>
            <div class="asses-box">
              <div class="red-line"></div>
              <h2>what we assess</h2>
              <p>Complex Infrastructures need deep level Cybersecurity</p>
              <small
                >Data storage centers are dynamic and supported by highly
                connected networks and cloud computing. Being the crown jewels
                of confidential data, if compromised, both client’s and the
                company’s sensitive records are exposed. Data center security
                entails physical practices and virtual technologies used for
                threat protection. Our information security risk management plan
                covers any data center server from physical and virtual, both
                levels.</small
              >
            </div>
            <div class="asses-box">
              <div class="red-line"></div>
              <h2>what we assess</h2>
              <p>
                Workstation connections can be penetrated/intruded by outside
                interferences.
              </p>
              <small
                >Data centers or office networks are usually connected with
                different servers through a wifi connection, VLAN where the
                connectivity is mostly physical. Attacks like Man in the middle
                (MitM), ransomware, IP snooping, DDOS attack, WPS PIN attack,
                packet sniffing, Dictionary attack, Rogue Access Point attack,
                Eavesdropping are quite prominent in such cubicles.</small
              >
            </div>
          </div>
          <div class="col-md-7 asses-box-lg">
            <div class="asses-category">
              <div class="row">
                <div class="col-md-3">
                  <div class="asses-img">
                    <div class="asses-img-box asses-img-1">
                      <img
                        src="{% static '' %}img/risk/web application.png"
                        class="assesimg assesimg1"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/web application red.png"
                        class="assesimg assesimg11"
                        alt=""
                      />
                    </div>
                    <p>Web Application</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img">
                    <div class="asses-img-box asses-img-2">
                      <img
                        src="{% static '' %}img/risk/server & network.png"
                        class="assesimg assesimg2"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/server & network red.png"
                        class="assesimg assesimg12"
                        alt=""
                      />
                    </div>
                    <p>Server & Network</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img">
                    <div class="asses-img-box asses-img-3">
                      <img
                        src="{% static '' %}img/risk/cloud infrastructure.png"
                        class="assesimg assesimg3"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/cloud infrastructure red.png"
                        class="assesimg assesimg13"
                        alt=""
                      />
                    </div>
                    <p>Cloud<br />Infrastructure</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img">
                    <div class="asses-img-box asses-img-4">
                      <img
                        src="{% static '' %}img/risk/api assessment.png"
                        class="assesimg assesimg4"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/api assessment red.png"
                        class="assesimg assesimg14"
                        alt=""
                      />
                    </div>
                    <p>API Assessment</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img">
                    <div class="asses-img-box asses-img-5">
                      <img
                        src="{% static '' %}img/risk/mobile application.png"
                        class="assesimg assesimg5"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/mobile application red.png"
                        class="assesimg assesimg15"
                        alt=""
                      />
                    </div>
                    <p>Mobile Application</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img">
                    <div class="asses-img-box asses-img-6">
                      <img
                        src="{% static '' %}img/risk/desktop application.png"
                        class="assesimg assesimg6"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/desktop application red.png"
                        class="assesimg assesimg16"
                        alt=""
                      />
                    </div>
                    <p>Desktop<br />Application</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img">
                    <div class="asses-img-box asses-img-7">
                      <img
                        src="{% static '' %}img/risk/data center.png"
                        class="assesimg assesimg7"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/data center red.png"
                        class="assesimg assesimg17"
                        alt=""
                      />
                    </div>
                    <p>Data Center</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img">
                    <div class="asses-img-box asses-img-8">
                      <img
                        src="{% static '' %}img/risk/physical network.png"
                        class="assesimg assesimg8"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/physical network red.png"
                        class="assesimg assesimg18"
                        alt=""
                      />
                    </div>
                    <p>Physical Network</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 asses-box-sm">
            <div class="red-line"></div>
            <h2>what we assess</h2>
            <div class="asses-category">
              <div class="row">
                <div class="col-md-3">
                  <div class="asses-img-sm">
                    <div class="asses-img-box asses-img-1">
                      <img
                        src="{% static '' %}img/risk/web application.png"
                        class="assesimg assesimg1"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/web application red.png"
                        class="assesimg assesimg11"
                        alt=""
                      />
                    </div>
                    <p>Web Application</p>
                  </div>
                  <div class="asses-tab asses-tab1">
                    <p class="text-justify">On average 30,000 new websites are hacked every day.</p>
                    <small
                      >We perform a complete OWASP TOP 10 cyber vulnerabilities
                      assessment, including SQLI, XSS, CSRF, Authentication,
                      etc. Whether you have a CMS or custom-built application,
                      we find the loopholes and deliver actionable
                      recommendations to harden your database and
                      frontend.</small
                    >
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img-sm">
                    <div class="asses-img-box asses-img-2">
                      <img
                        src="{% static '' %}img/risk/server & network.png"
                        class="assesimg assesimg2"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/server & network red.png"
                        class="assesimg assesimg12"
                        alt=""
                      />
                    </div>
                    <p>Server & Network</p>
                  </div>
                  <div class="asses-tab">
                    <p>
                      73% of hackers said firewalls can’t protect your system.
                    </p>
                    <small
                      >Companies’ network elements are usually not up to date
                      whereas the company server has all the data. It makes it
                      easier for attackers to simply bypass the firewall and get
                      access to the server; download the data slowing down the
                      system. So, we keep your server up to date and apply a
                      security patch; It is also crucial to do risk assessment
                      of the server configuration, third-party libraries, and
                      network settings.</small
                    >
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img-sm">
                    <div class="asses-img-box asses-img-3">
                      <img
                        src="{% static '' %}img/risk/cloud infrastructure.png"
                        class="assesimg assesimg3"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/cloud infrastructure red.png"
                        class="assesimg assesimg13"
                        alt=""
                      />
                    </div>
                    <p>Cloud<br />Infrastructure</p>
                  </div>
                  <div class="asses-tab">
                    <p>
                      Cloud servers must have robust data security features.
                    </p>
                    <small
                      >All public cloud service providers, including AWS, Google
                      Cloud, Microsoft Azure, have excellent security features,
                      but you will have to set your own rules. These systems
                      must meet the right standards for data protection.You
                      might already have IP policy , user group rules in place.
                      Despite that, your cloud might be unsafe. It’s always a
                      good idea to have experts look into your system and
                      provide right risk management consultation.</small
                    >
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img-sm">
                    <div class="asses-img-box asses-img-4">
                      <img
                        src="{% static '' %}img/risk/api assessment.png"
                        class="assesimg assesimg4"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/api assessment red.png"
                        class="assesimg assesimg14"
                        alt=""
                      />
                    </div>
                    <p>API Assessment</p>
                  </div>
                  <div class="asses-tab">
                    <p>
                      Hackers can access APIs by attaching some sensitive data
                      to the request.
                    </p>
                    <small
                      >API security is critical to organizations as they often
                      leak sensitive data while transferring information between
                      systems internally or externally. We do manual API
                      vulnerability assessment for a wide range of APIs,
                      including but not limited to Web Service APIs (SOAP, REST,
                      JSON), Web Socket APIs, Class-Based APIs, etc.</small
                    >
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img-sm">
                    <div class="asses-img-box asses-img-5">
                      <img
                        src="{% static '' %}img/risk/mobile application.png"
                        class="assesimg assesimg5"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/mobile application red.png"
                        class="assesimg assesimg15"
                        alt=""
                      />
                    </div>
                    <p>Mobile Application</p>
                  </div>
                  <div class="asses-tab">
                    <p>
                      Mobile apps' security saves your businesses’ reputation.
                    </p>
                    <small
                      >Server Side controls may be weak; binary protection might
                      be lacking; data storage doesn’t have enough security
                      steps. All these issues can make your mobile app
                      vulnerable to attackers. Your business data can get
                      stolen. Either you have an android or iOS application, we
                      do source code auditing for both. We do not only find
                      potential vulnerabilities; we also consult our clients
                      about best security practices.
                    </small>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img-sm">
                    <div class="asses-img-box asses-img-6">
                      <img
                        src="{% static '' %}img/risk/desktop application.png"
                        class="assesimg assesimg6"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/desktop application red.png"
                        class="assesimg assesimg16"
                        alt=""
                      />
                    </div>
                    <p>Desktop<br />Application</p>
                  </div>
                  <div class="asses-tab">
                    <p>
                      Desktop apps used for businesses are usually
                      interconnected.
                    </p>
                    <small
                      >Therefore if the hacker gets access to one of the apps,
                      all the desktop apps can be infiltrated. Our cyber
                      security risk assessment team does source code auditing to
                      the desktop applications and reports if any cyber threat
                      is found. We work with Macbook, Windows, Netbook, Laptop.
                      PDA, all types of modern platforms used in business
                      premises.</small
                    >
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img-sm">
                    <div class="asses-img-box asses-img-7">
                      <img
                        src="{% static '' %}img/risk/data center.png"
                        class="assesimg assesimg7"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/data center red.png"
                        class="assesimg assesimg17"
                        alt=""
                      />
                    </div>
                    <p>Data Center</p>
                  </div>
                  <div class="asses-tab">
                    <p>
                      Complex Infrastructures need sophisticated and deep level
                      cybersecurity.
                    </p>
                    <small
                      >Data storage centers are dynamic and supported by highly
                      connected networks and cloud computing. Being the crown
                      jewels of confidential data, if compromised, both client’s
                      and the company’s sensitive records are exposed. However,
                      data center security refers to the physical practices and
                      virtual technologies used to protect a data center from
                      external threats and attacks. We provide an information
                      security risk management plan to any data center server
                      from physical and virtual, both levels.</small
                    >
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="asses-img-sm">
                    <div class="asses-img-box asses-img-8">
                      <img
                        src="{% static '' %}img/risk/physical network.png"
                        class="assesimg assesimg8"
                        alt=""
                      />
                      <img
                        src="{% static '' %}img/risk/physical network red.png"
                        class="assesimg assesimg18"
                        alt=""
                      />
                    </div>
                    <p>Physical Network</p>
                  </div>
                  <div class="asses-tab">
                    <p>
                      Workstation connections can be penetrated/intruded by
                      outside interferences.
                    </p>
                    <small
                      >Data centers or office networks are usually connected
                      with different servers through a wifi connection, VLAN
                      where the connectivity is mostly physical. Attacks like
                      Man in the middle (MitM), ransomware, DDOS, WPS PIN
                      attack, packet sniffing, Dictionary attack, Rogue Access
                      Point attack, Eavesdropping are quite prominent in such
                      cubicles.</small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="differ-title">
        <div class="row">
          <div class="col-md-6 col-6">
            <h2 class="differ1">vulnerabilty assessment</h2>
          </div>
          <div class="col-md-6 col-6">
            <h2 class="differ2">Penetration testing</h2>
          </div>
        </div>
        <div class="vs">
          <h2>VS</h2>
        </div>
      </div>
    </div>
    <section class="differ-section">
      <div class="container">
        <div class="differ-box">
          <div class="row">
            <div class="col-md-6">
              <div class="differ-inner-box">
                <div class="risk-differ-box">
                  <img
                    src="{% static '' %}img/risk/vulnerability assessment.png"
                    class="differ-img"
                    alt="cyber-security-risk-assessment-cybersecurity-risk-assessment-companies"
                    longdesc="Techforing business risk assessment vulnerability assessment service"
                    title="Risk Assessment Penetration Testing"
                  />
                  <div class="differ-list">
                    <ul>
                      <li class="d-flex">
                        <img src="{% static '' %}img/risk/checked.png" alt="checked" />
                        <p>
                          Necessary when new equipment is installed or at least once per month
                        </p>
                      </li>
                      <li class="d-flex">
                        <img src="{% static '' %}img/risk/checked.png" alt="checked" />
                        <p>
                          Reveals the previously known but unaddressed vulnerabilities
                        </p>
                      </li>
                      <li class="d-flex">
                        <img src="{% static '' %}img/risk/checked.png" alt="checked" />
                        <p>Performed from both internally and externally</p>
                      </li>
                      <li class="d-flex">
                        <img src="{% static '' %}img/risk/checked.png" alt="checked" />
                        <p>
                          Provide a comprehensive comparison report between current issues to baseline
                        </p>
                      </li>
                      <li class="d-flex">
                        <img src="{% static '' %}img/risk/checked.png" alt="checked" />
                        <p>
                          Limited to hardware or software weakness detection
                        </p>
                      </li>
                      <li class="d-flex">
                        <img src="{% static '' %}img/risk/checked.png" alt="checked" />
                        <p>
                          Disruption is minimal, so we provide a passive evaluation
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="case-btn rcase-btn">
                    <a href="{% url 'vulnerability_assessment' %}" target="_blank"
                      >Explore More</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="differ-inner-box dib-sm">
                <div class="risk-differ-box">
                  <img
                    src="{% static '' %}img/risk/penetration testing.png"
                    class="differ-img"
                    alt="Penetration"
                  />
                  <div class="differ-list">
                    <ul>
                      <li class="d-flex">
                        <img src="{% static '' %}img/risk/checked.png" alt="checked" />
                        <p>
                          Once a year, penetration testing is good enough for an organization
                        </p>
                      </li>
                      <li class="d-flex">
                        <img src="{% static '' %}img/risk/checked.png" alt="checked" />
                        <p>
                          Reveals unknown exposures to normal business methods
                        </p>
                      </li>
                      <li class="d-flex">
                        <img src="{% static '' %}img/risk/checked.png" alt="checked" />
                        <p>Performed from outside the organization premise</p>
                      </li>
                      <li class="d-flex">
                        <img src="{% static '' %}img/risk/checked.png" alt="checked" />
                        <p>
                          Provide a short analysis of how the attack took place and data damages
                        </p>
                      </li>
                      <li class="d-flex">
                        <img src="{% static '' %}img/risk/checked.png" alt="checked" />
                        <p>
                          Reduces organizations’ exposure to outside interferences
                        </p>
                      </li>
                      <li class="d-flex">
                        <img src="{% static '' %}img/risk/checked.png" alt="checked" />
                        <p>Active attack occurs with potential disruption</p>
                      </li>
                    </ul>
                  </div>
                  <div class="case-btn rcase-btn">
                    <a href="{% url 'red_team_penetration_testing' %}" target="_blank"
                      >Explore More</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="risk-client">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 col-6">
            <div class="rc-img">
              <img
                src="{% static '' %}img/risk/cwe.png"
                title="Risk Assessment CWE assessment"
                alt="cyber-security-risk-management-cyber-risk-management"
                longdesc="Techforing risk assessment service cwe"
              />
            </div>
          </div>
          <div class="col-sm-2 col-6">
            <div class="rc-img">
              <img
                src="{% static '' %}img/risk/owasp.png"
                title="Risk Assessment OWASP Assessment"
                alt="cyber-security-risk-assessment-cyber-security-assessment"
                longdesc="Techforing business risk assessment service owasp vulnerabilities"
              />
            </div>
          </div>
          <div class="col-sm-2 col-6">
            <div class="rc-img">
              <img
                src="{% static '' %}img/risk/pci.png"
                title="Rsk Assessment PCI DSS Assessment"
                alt="cyber-security-risk-assessment-risk-management-services"
                longdesc="techforing business risk assessment pci dss compliance"
              />
            </div>
          </div>
          <div class="col-sm-2 col-6">
            <div class="rc-img">
              <img
                src="{% static '' %}img/risk/sans.png"
                title="Risk Assessment SANS Assessment"
                alt="cyber-security-risk-assessment-vulnearbility-assessment-companies"
                longdesc="Techforig business risk assessment sans "
              />
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="rc-img">
              <img
                src="{% static '' %}img/risk/Zero.png"
                title="ZERO Day vulnerability"
                alt="cyber-security-risk-assessment-zero-day"
                longdesc="Techforing business risk assessment serivce zero day vulnerability"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="wr-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="wr-box">
              <div class="red-line"></div>
              <h2 class="wr-title">why choose techforing</h2>
              <ul class="wr-list">
                <li class="d-flex">
                  <i class="fas fa-circle"></i>
                  <div class="wr-list-box">
                    <h2>Red Team Specialists</h2>
                    <p class="text-start text-justify">
                      Our Security Specialists are CIEH, CISA, CISSP, Security+ certified. They have more than 15 years of hands-on experience in performing industry-standard external penetration testing.
                    </p>
                  </div>
                </li>
                <li class="d-flex">
                  <i class="fas fa-circle"></i>
                  <div class="wr-list-box">
                    <h2>Manual Auditing</h2>
                    <p class="text-start text-justify">
                      We don’t only rely on tools and automation but also
                      perform serious manual auditing through reviewing the
                      source code, configuration and architecture set-up.
                    </p>
                  </div>
                </li>
                <li class="d-flex">
                  <i class="fas fa-circle"></i>
                  <div class="wr-list-box">
                    <h2>Machine Learning and AI</h2>
                    <p class="text-start text-justify">
                      Our custom developed next generation algorithm uses Machine Learning and Artificial Intelligence to find existing loopholes and predict any future risks.
                    </p>
                  </div>
                </li>
                <li class="d-flex">
                  <i class="fas fa-circle"></i>
                  <div class="wr-list-box">
                    <h2>Cutting-edge Tools & Techniques</h2>
                    <p class="text-start text-justify">
                      We don’t take risk of unnoticed vulnerabilities. So, we use dozens of cutting-edge premium tools like Nessus, Burp Suite, Netsparker, Acunetix, etc.
                    </p>
                  </div>
                </li>
                <li class="d-flex">
                  <i class="fas fa-circle"></i>
                  <div class="wr-list-box">
                    <h2>Extensive Report</h2>
                    <p class="text-start text-justify">
                      We provide a comprehensive report including all findings with technical details, impact of the findings and recommendations on how to fix them.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="wr-img-box">
              <img
                src="{% static '' %}img/risk/Why-TF-Risk.png"
                title="Why TF Risk Assessment"
                alt="cyber-security-risk-assessment-companies"
                longdesc="Why techforing business risk assessment service"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hw-section">
      <div class="container">
        <div class="red-line"></div>
        <div class="hw-title">how we assess</div>
      </div>
      <div class="hw-process">
        <div class="container">
          <div class="hwp-section">
            <div class="row">
              <div class="col-md-4 hwp-12">
                <div class="hwp-box hwp-box-1">
                  <img
                    src="{% static '' %}img/risk/information gathering full.png"
                    alt="assess1"
                  />
                </div>
                <div class="hwp-box hwp-box-2">
                  <img
                    src="{% static '' %}img/risk/threat detection full.png"
                    alt="assess2"
                  />
                </div>
                <img
                  src="{% static '' %}img/risk/down-arrow.png"
                  alt=""
                  class="down-arrow"
                />
              </div>
              <div class="col-md-4 hwp-34">
                <div class="hwp-box hwp-box-4">
                  <img src="{% static '' %}img/risk/exploitation full.png" alt="assess4" />
                </div>
                <div class="hwp-box hwp-box-3">
                  <img
                    src="{% static '' %}img/risk/vulnerability analysis full.png"
                    alt="assess3"
                  />
                </div>
                <img src="{% static '' %}img/risk/down-arrow.png" alt="" class="up-arrow" />
              </div>
              <div class="col-md-4">
                <div class="hwp-box hwp-box-5">
                  <img src="{% static '' %}img/risk/reporting full.png" alt="assess5" />
                </div>
              </div>
            </div>

            <img src="{% static '' %}img/risk/right-arrow.png" alt="" class="right-arrow" />
            <img src="{% static '' %}img/risk/Arrow.png" alt="" class="main-arrow" />
          </div>
        </div>
      </div>
    </section>
    <section class="hwp-sm">
      <div class="container">
        <div class="red-line"></div>
        <div class="hw-title">how we assess</div>
      </div>
      <div class="hw-process">
        <div class="container">
          <div class="hwp-section">
            <div class="row">
              <div class="col-md-4">
                <div class="hwp-box">
                  <img
                    src="{% static '' %}img/risk/information gathering full.png"
                    alt="assess1"
                  />
                </div>
                <img
                  src="{% static '' %}img/risk/down-arrow.png"
                  alt=""
                  class="down-arrow"
                />
                <div class="hwp-box">
                  <img
                    src="{% static '' %}img/risk/threat detection full.png"
                    alt="assess2"
                  />
                </div>
                <img
                  src="{% static '' %}img/risk/down-arrow.png"
                  alt=""
                  class="down-arrow"
                />
              </div>
              <div class="col-md-4">
                <div class="hwp-box">
                  <img
                    src="{% static '' %}img/risk/vulnerability analysis full.png"
                    alt="assess3"
                  />
                </div>
                <img
                  src="{% static '' %}img/risk/down-arrow.png"
                  alt=""
                  class="down-arrow"
                />
                <div class="hwp-box">
                  <img src="{% static '' %}img/risk/exploitation full.png" alt="assess4" />
                </div>
                <img
                  src="{% static '' %}img/risk/down-arrow.png"
                  alt=""
                  class="down-arrow"
                />
              </div>
              <div class="col-md-4">
                <div class="hwp-box">
                  <img src="{% static '' %}img/risk/reporting full.png" alt="assess5" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ig-section risk-ig-section">
      <div class="container">
        <div class="ig-box">
          <div class="ig-box-left">
            <img
              src="{% static '' %}img/risk/Get-started.png"
              title="Risk Assessment Get Started"
              alt="cyber-security-risk-assessment-risk-assessment-cyber-security"
              longdesc="Techforing business risk assessment service get started"
            />
          </div>
          <div class="ig-box-right">
            <div class="rm-line"></div>
            <p class="igbr-sub">GET A Quote</p>
            <h2 class="igbr-title">
              Let us strategically approach your cybersecurity system
            </h2>
            <p class="igbr-text text-justify">
              We don’t only perform risk assessment but also work closely with your in-house Engineers. Is your security engineer fully aware of the latest hack-art attackers are pursuing? Give us a call or schedule a free consultation with our cybersecurity professionals to get a free risk assessment of your system. We can fix it before they find it.
            </p>
            <div class="text-right">
              <a href="{% host_url 'get_start' host 'main' %}" target="_blank" class="igbr-btn rgbr-btn"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ics-section rcs-section risk-rcs-section">
      <div class="container">
        <div class="y-line-mini r-line-mini"></div>
        <h2 class="ics-title">client stories</h2>
      </div>
      <div class="ics-fluid">
        <div class="container">
          <div class="rcs-fluid">
            <div class="row">
              <div class="col-md-3">
                <div class="rcs-img">
                  <img src="{% static '' %}img/risk/Oz-Goren.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-9">
                <div class="rcs-box">
                  <img src="{% static '' %}img/risk/quote.png" alt="quote" />
                  <p class="rcs-text text-start">
                    TechForing conducted penetration tests on our website, database, and network and provided a detailed report. They could identify risks at several levels, explained the risk in detail and also suggested solutions. The team was also helping fix all found security issues. They are very professional, cooperative and very good at communication.
                  </p>
                  <h2 class="rcs-name">Oz Goren (Israel)</h2>
                  <i>VP Marketing, Tanku</i>
                  <div class="rcs-btn">
                    <a href="{% url 'testimonial' %}" target="_blank"
                      >See all success stories</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="case-section">
      <div class="container">
        <div class="red-line"></div>
        <h2 class="case-title">Important Case Studies</h2>
      </div>
      <div class="case-box-fluid rcase-box-fluid">
        <div class="container">
          <div class="case-box">
            <div class="row">
              <div class="col-md-4">
                <div class="case-img">
                  <img
                    src="{% static '' %}img/risk/cs1.png"
                    title="Risk Assessment Case Studies 1"
                    alt="cyber-security-risk-assessment-risk-management-assessment"
                    longdesc="Techforing business risk assessment case study 1"
                  />
                </div>
              </div>
              <div class="col-md-8">
                <div class="case-inner">
                  <div class="case-inner-box rcase-inner-box">
                    <h2 class="case-box-title">Vulnerability Assessment</h2>
                    <p class="case-text text-justify">
                      One of our clients needed their entire website hack-proof. And it was involved in a partnership with a credit bureau. The information was extremely sensitive, and it required detailed penetration and regression testing. How we went about it might interest you!
                    </p>
                    <div class="case-btn rcase-btn">
                      <a
                        href="https://blog.techforing.com/case_studies/vulnerability-assessment/"
                        target="_blank"
                        >Read More</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="case-box">
            <div class="row">
              <div class="col-md-4">
                <div class="case-img">
                  <img
                    src="{% static '' %}img/risk/cs-2.png"
                    title="Risk Assessment Case Studies 2"
                    alt="cyber-security-risk assessment-digital-risk-management"
                    longdesc="Techforing business risk assessment case study 2"
                  />
                </div>
              </div>
              <div class="col-md-8">
                <div class="case-inner">
                  <div class="case-inner-box rcase-inner-box">
                    <h2 class="case-box-title">Penetration Testing</h2>
                    <p class="case-text text-justify">
                      The client had an authentication engine. Because of the seriousness of this engine and multiple APIs being used, we had to carry out module based penetration testing. We evaluated if each authentication mechanism in the authentication engine had at least two-factor authentication.
                    </p>
                    <div class="case-btn rcase-btn">
                      <a
                        href="https://blog.techforing.com/case_studies/case-study-on-penetration-testing/"
                        target="_blank"
                        >Read More</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="case-box">
            <div class="row">
              <div class="col-md-4">
                <div class="case-img">
                  <img
                    src="{% static '' %}img/risk/cs-3.png"
                    title="Risk Assessment Case Studies 3"
                    alt="cyber-security-risk-assessment-cyber-security-risk-management"
                    longdesc="Techforing business risk assessment case study 3"
                  />
                </div>
              </div>
              <div class="col-md-8">
                <div class="case-inner">
                  <div class="case-inner-box rcase-inner-box">
                    <h2 class="case-box-title">Infrustructure Audit</h2>
                    <p class="case-text text-justify">
                      A software service company had its services spread across
                      various domains. So understanding the risks of each
                      business domain and evaluating the software were some
                      challenges we had to overcome. We used tools like
                      Wireshark, TcpDump and many more.
                    </p>
                    <div class="case-btn rcase-btn">
                      <a
                        href="https://blog.techforing.com/case_studies/it-infrastructure-audit/"
                        target="_blank"
                        >Read More</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="he-section re-section risk-re-section">
      <div class="container">
        <div class="he-line re-line"></div>
        <h2>Tell Us If You Are Interested</h2>
        <p>
          Our security experts will get in touch with you, understand your need
          and will provide you the best solution and help to undertake the best
          course of action needed as you or your organization required.
        </p>
        <form
          action=""
          accept-charset="utf-8"
          method="post"
        >
        {% csrf_token %}
          <input
            type="email"
            name="email"
            class="he-input"
            placeholder="Enter your email address"
          />
          <input type="hidden" name="campaign_token" value="okoVq" />
          <input
            type="hidden"
            name="thankyou_url"
            value="https://techforing.com/pages/thanks_subscriber.html"
          />
          <input type="hidden" name="start_day" value="0" />
          <button class="he-input-btn re-input-btn" type="submit">
            Subscribe Now
          </button>
        </form>
      </div>
    </section>
{% endblock content %}

{% block customjs %}
    <script src="{% static 'js/glide.js' %}"></script>

    <script src="{% static 'js/asses-tab.js' %}"></script>
    <script>
      new Glide(".glide", {
        type: "carousel",
        autoplay: 8000,
      }).mount();
    </script>
    <script>
      $(document).ready(function () {
        $("#my-header").load("header.html");
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#my-footer").load("footer.html");
      });
    </script>
{% endblock customjs %}