{% extends 'base/base.html' %}
{% load static %}
{% load hosts %}

{% block title %}
    Franchise Program
{% endblock title %}

{% block headercss %}
    <link rel="stylesheet" href="{% static '' %}tfcss/style.css" />
{% endblock headercss %}

{% block content %}
    <section class="fran-banner">
      <div class="container">
        <h2 class="cb-title">Techforing franchise program</h2>
        <h2 class="cb-subtitle">Join TechForing Franchise Program Network</h2>
        <a href="{% host_url 'partner' host 'main' %}" target="_blank" class="tf-btn2 cb-btn"
          >Become Our Partner</a
        >
      </div>
    </section>
    <section class="career-life">
      <div class="container">
        <h2 class="tfh-title">TechForing franchise Program</h2>
        <img
          src="{% static '' %}tfimg/franchise/tf franchise program.png"
          alt=""
          title="Techforing Franchise Program"
        />
        <p class="fran-sub">TECHFORING IS THE LEADER, INNOVATOR, PARTNER</p>
        <p class="fran-text text-center">
          Techforing provides industry-grade monitoring and management of security systems and devices for the most influential individuals and different businesses. We are proud to have a team of professionals certified in C|EH, CISA, CISSP, and Security+. With 15 years of experience in digital services, we are confident to partner with the most prospective and rising businesses around.
        </p>
      </div>
    </section>
    <section class="fran-why">
      <div class="container">
        <div class="fran-bar"></div>
        <h2 class="tfh-title-right">Why take Franchise</h2>
        <div class="row fw-row">
          <div class="col-md-6">
            <div class="fw-img">
              <img
                src="{% static '' %}tfimg/franchise/why take franchise.png"
                title="How we educate our partners"
                alt="cyber-security-strating-business"
                longdesc="Learn how we educate our franchise"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="row fran-icon-row">
              <div class="col-md-6">
                <div class="fw-box">
                  <img src="{% static '' %}tfimg/franchise/risk avoidance.png" alt="" />
                  <div>
                    <h2 class="text-start">RISK AVOIDANCE</h2>
                    <p class="text-justify">
                      Help you avoid a lot of the risk of starting a new
                      business.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="fw-box">
                  <img src="{% static '' %}tfimg/franchise/claim rewards.png" alt="" />
                  <div>
                    <h2 class="text-start">CLAIM REWARDS</h2>
                    <p class="text-justify">
                      Easier to get funding, More diversified revenue stream.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="fw-box">
                  <img
                    src="{% static '' %}tfimg/franchise/benefits from a brand name.png"
                    alt=""
                  />
                  <div>
                    <h2 class="text-start">BENEFIT FROM A BRAND NAME</h2>
                    <p class="text-justify">
                      Connecting with a Brand helps you navigate bureaucracy and
                      get free advice.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="fw-box">
                  <img
                    src="{% static '' %}tfimg/franchise/receive ongoing support.png"
                    alt=""
                  />
                  <div>
                    <h2 class="text-start">RECEIVE ONGOING SUPPORT</h2>
                    <p class="text-justify">
                      Constant operational support from experienced people
                      helps.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="fw-box">
                  <img
                    src="{% static '' %}tfimg/franchise/success is immitent.png"
                    alt=""
                  />
                  <div>
                    <h2 class="text-start">SUCCESS IS IMMINENT</h2>
                    <p class="text-justify">
                      Investing in a proven formula set by the franchisor makes
                      life easier.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="fw-box">
                  <img src="{% static '' %}tfimg/franchise/economics of scale.png" alt="" />
                  <div>
                    <h2 class="text-start">ECONOMIES OF SCALE</h2>
                    <p class="text-justify">
                      The competitive advantage leads to higher operating
                      margins
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="fw-box">
                  <img
                    src="{% static '' %}tfimg/franchise/more scope for negotiation.png"
                    alt=""
                  />
                  <div>
                    <h2 class="text-start">MORE SCOPE FOR NEGOTIATION</h2>
                    <p class="text-justify">
                      Easier to negotiate prices to lower levels through buying
                      power of the system
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="fw-box">
                  <img
                    src="{% static '' %}tfimg/franchise/access protected territory.png"
                    alt=""
                  />
                  <div>
                    <h2 class="text-start">ACCESS PROTECTED TERRITORY</h2>
                    <p class="text-justify">
                      Protected within the franchise system where other
                      franchises can’t access.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fran-emp">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="fran-bar"></div>
            <h2 class="tfh-title-right">How we empower our partners</h2>
            <p class="text-justify">
              Our cybersecurity franchise lets your business take a front seat of one of the fastest-growing industries. You will offer and provide high-end information security solutions following our unique strategy.
            </p>

            <ul>
              <li class="d-flex">
                <i class="fas fa-circle"></i>Because of the high demand for specialized cybersecurity services, you have a unique selling point to capture a huge potential market.
              </li>
              <li class="d-flex">
                <i class="fas fa-circle"></i> We provide your training, appliances, and consultation for free.
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="fe-img">
              <img
                src="{% static '' %}tfimg/franchise/how we empower.png"
                title="Techforing Franchise partnership Program Benifits"
                alt="cybersecurity-francshise"
                longdesc="Benfits of Techforing Partnership Program"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fran-map">
      <div class="container">
        <div class="fran-bar"></div>
        <h2 class="tfh-title-right">Countries we are operating</h2>
        <div class="fm-img">
          <img src="{% static '' %}tfimg/franchise/map.png" title="" alt="" />
          <div class="row cl-row">
            <div class="col-md-3">
              <ul>
                <li class="d-flex">
                  <i class="fas fa-circle"></i> United State
                </li>
                <li class="d-flex">
                  <i class="fas fa-circle"></i>united kingdom
                </li>
                <li class="d-flex"><i class="fas fa-circle"></i>europe</li>
                <li class="d-flex"><i class="fas fa-circle"></i>Canada</li>
                <li class="d-flex"><i class="fas fa-circle"></i>Middle East</li>
                <li class="d-flex"><i class="fas fa-circle"></i>bangladesh</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="fran-member">
      <div class="container">
        <div class="fran-member-img">
          <img
            src="{% static '' %}tfimg/franchise/want to boceme.png"
            title="Techforing Franchise-Why this program"
            alt="cyber-security-business-opportunities"
            longdesc="Why you need this Franchise"
          />
        </div>
      </div>
    </section>

    <section class="hr-cta">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="hrc-box">
              <h2>Want to Become Techforing Franchisee?</h2>
              <p>Contact us for more details</p>
              <a href="{% host_url 'partner' host 'main' %}" target="_blank">Contact Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ccsp-resource">
      <div class="container">
        <div class="fran-bar"></div>
        <h2 class="tfh-title-right">Important Resources</h2>
      </div>
      <div class="ccspr-outer">
        <div class="container">
          <div class="ccspr-row row">
            <div class="col-md-4">
              <div class="ccspr-img">
                <img
                  src="{% static '' %}tfimg/franchise/FAQ.jpg"
                  title="Case Study 1"
                  alt="cyber-security-franchise-case-study1"
                  longdesc="techforing Franchise FAQ"
                />
              </div>
            </div>
            <div class="col-md-8">
              <div class="ccspr-right">
                <div class="fran-bar"></div>
                <h2>FAQ</h2>
                <p class="text-justify">
                  In case you are unsure about our franchise program, how it works, cost, our extra offers, or anything that you wish to know right away without reaching out to us, visit this section. Here, we tried to clarify some questions we receive. 
                </p>
                <div class="text-right">
                  <a href="{% url 'franchise_faq'%}" class="ccspr-btn"
                    >Learn More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="ccspr-row row">
            <div class="col-md-4">
              <div class="ccspr-img">
                <img
                  src="{% static '' %}tfimg/franchise/youtube channel.jpg"
                  title="Case Study 2"
                  alt="cyber-security-franchise-case-study2"
                  longdesc="Franchsie Progra Youtube channel"
                />
              </div>
            </div>
            <div class="col-md-8">
              <div class="ccspr-right">
                <div class="fran-bar"></div>
                <h2>youtube channel</h2>
                <p class="text-justify">
                  We have a dedicated YouTube channel with videos on the need-to-knows about cybersecurity, how-to Tutorials, and other topics like partnership programs and franchises. Visit and subscribe to the channel and turn on the bell icon to never miss a thing!
                </p>
                <div class="text-right">
                  <a
                    href="https://www.youtube.com/channel/UCBP7xegSjtVXulfywJ2kPvQ"
                    target="_blank"
                    class="ccspr-btn"
                    >Learn More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="ccspr-row row">
            <div class="col-md-4">
              <div class="ccspr-img">
                <img
                  src="{% static '' %}tfimg/franchise/securitymania.jpg"
                  title="Case Study 3"
                  alt="cyber-security-franchise-case-study3"
                  longdesc="Franchise Program Case Study 3"
                />
              </div>
            </div>
            <div class="col-md-8">
              <div class="ccspr-right">
                <div class="fran-bar"></div>
                <h2>securitymania</h2>
                <p class="text-justify">
                  We investigate reported cybercrimes to find out the who-why-hows through a comprehensive crime investigation procedure. In this section, we will regularly share some of the most exemplary case details to help you taste the real-world scenarios.
                </p>
                <div class="text-right">
                  <a
                    href="https://blog.techforing.com/"
                    target="_blank"
                    class="ccspr-btn"
                    >Learn More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}

{% block customjs %}

{% endblock customjs %}