{% extends 'base/base.html' %}
{% load static %}
{% load hosts %}

{% block title %}
    Franchise FAQ
{% endblock title %}

{% block headercss %}
    <link rel="stylesheet" href="{% static '' %}css/glide.core.css" />
    <link rel="stylesheet" href="{% static '' %}css/glide.theme.css" />
    <link rel="stylesheet" href="{% static '' %}css/style.css" />
{% endblock headercss %}

{% block content %}
    <section class="ff-banner">
      <div class="container">
        <h2>How can we help you?</h2>
        <p>
          In case you still don't find what you're looking for You can always
          get in touch with our support team
        </p>
        <!-- This section will come back -->
        <!-- <div class="fsearch-box">
          <input type="text" placeholder="Search for answers" />
        </div> -->
      </div>
    </section>
    <div class="container">
      <section class="faq-section">
        <h2 class="faq-title">
          MOST FREQUENTLY ASKED QUESTIONS BY OUR Franchisees
        </h2>
        <div class="row justify-content-between faq-row">
          <div class="col-md-4">
            <div class="faq-category">
              <h2>General</h2>
            </div>
          </div>
          <div class="col-md-7">
            <div class="ques-list">
              <button class="accordion">What is Franchise Program?</button>
              <div class="fpanel">
                <p>
                  A franchise (or franchising) is a method of distributing
                  products or services involving a franchisor (TechForing Ltd.)
                  , who establishes the brand's trademark or trade name and a
                  business system, and a franchisee (You) , who pays a royalty
                  and often an initial fee for the right to do business under
                  the franchisor's name and system.
                </p>
              </div>

              <button class="accordion">
                Why should I take TechForing's Franchise Program?
              </button>
              <div class="fpanel">
                <p>
                  TechForing had successfully established its brand in the
                  cybersecurity industry. It has served over 1400+ clients
                  across 54+ countries. With a proven business model and an
                  experienced board of members, TechForing Franchise Program can
                  provide you the necessary gears and support to not only
                  establish a well-known brand in your country but also succeed
                  in the business execution.
                </p>
              </div>

              <button class="accordion">
                What are the requirements to be a TechForing Franchisee?
              </button>
              <div class="fpanel">
                <p>
                  Having sufficient knowledge in IT Industry along with previous
                  experience running a business or minimum experience working in
                  a senior-level position.
                </p>
              </div>
              <button class="accordion">
                How many franchisee TechForing has at this point?
              </button>
              <div class="fpanel">
                <p>Four- USA, UK, Turkey, and Bangladesh</p>
              </div>
              <button class="accordion">
                What are the services and products TechForing sells?
              </button>
              <div class="fpanel">
                <p>
                  Mainly Cybersecurity related services and products. Please
                  browse through our website to learn more about the nature of
                  our services and products.
                </p>
              </div>
              <button class="accordion">How do I get started?</button>
              <div class="fpanel">
                <p>
                  Please contact us here and we'll get in touch to discuss more
                  in details.
                </p>
              </div>
              <button class="accordion">
                Is there any country restriction to establish TechForing
                Franchisee?
              </button>
              <div class="fpanel">
                <p>
                  Cybersecurity is a thriving industry but it has its perks
                  country-wise. Where in some country corporate and government
                  continuously invest in cybersecurity, in others the awareness
                  is still in the development phase. Taking all these into
                  consideration, we decide which country is the most suitable to
                  expand our brand.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-between faq-row">
          <div class="col-md-4">
            <div class="faq-category">
              <h2>Financial Matters</h2>
            </div>
          </div>
          <div class="col-md-7">
            <div class="ques-list">
              <button class="accordion">What is the starting expense?</button>
              <div class="fpanel">
                <p>
                  It depends on the country and the level of operation the
                  franchisee wants to run. $100K to $1M is a good range to keep
                  in mind to get started. Please contact us to find out more in
                  detail.
                </p>
              </div>

              <button class="accordion">
                Does TechForing charge a royalty fee or a fixed franchise fee?
              </button>
              <div class="fpanel">
                <p>TechForing charges both.</p>
              </div>

              <button class="accordion">How much is the royalty fee?</button>
              <div class="fpanel">
                <p>Minimum 10% royalty fee is paid on the profit</p>
              </div>
              <button class="accordion">How much is the franchise fee?</button>
              <div class="fpanel">
                <p>Please contact us to know more in detail.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-between faq-row">
          <div class="col-md-4">
            <div class="faq-category">
              <h2>Post Franchisee</h2>
            </div>
          </div>
          <div class="col-md-7">
            <div class="ques-list">
              <button class="accordion">
                What is the gurantee that I will succeed if I take TechForing
                Franchisee?
              </button>
              <div class="fpanel">
                <p>
                  In business, there is a risk. TechForing can provide you the
                  right tools, the know-how of the business, necessary training,
                  and expert mentors at your disposal to help you to succeed but
                  execution will depend on your skill set, dedication, and hard
                  work.
                </p>
              </div>

              <button class="accordion">
                How TechForing helps me to succeed ?
              </button>
              <div class="fpanel">
                <p>
                  TechForing provides all know-how, necessary training, sales &
                  marketing strategy, and resources to help you to succeed.
                </p>
              </div>

              <button class="accordion">
                Does TechForing share the human resources with its franchisee?
              </button>
              <div class="fpanel">
                <p>Yes, it does if it is required.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="pt-cta ft-cta">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="ftc-box">
              <h2>STILL NEED HELP? SEND US A NOTE</h2>
              <a href="{% host_url 'get_start' host 'main' %}" target="_blank">Let Us Secure</a>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block customjs %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script src="{%static ''%}js/glide.js"></script>

    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("factive");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          }
        });
      }
    </script>
    <script>
      $(document).ready(function () {
        $("#my-header").load("header.html");
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#my-footer").load("footer.html");
      });
    </script>
{% endblock customjs %}