{% extends 'base/base.html' %} {% load static %} {% load hosts %} {% block title %} BCS Start Here {% endblock title %} {% block headercss %}
<link rel="stylesheet" href="{% static 'css/glide.core.css' %}" />
<link rel="stylesheet" href="{% static 'css/glide.theme.css' %}" />
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css" />
<link rel="stylesheet" href="{% static 'css/telephone.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<!-- style for bitrix form  -->
<style>
    .iti__selected-flag {
        border-right: none;
    }
    
    .b24-form-field-phone .b24-form-control-label {
        top: 10px !important;
        font-size: 14px !important;
    }
    
    input[type='tel'] {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    .b24-form {
        font-family: "Roboto Slab", serif !important;
    }
    
    .b24-form-header-padding {
        padding: 0 !important;
    }
    
    .b24-form-padding-side {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    form .b24-form-field:not(:first-child):not(:last-child) {
        width: 50% !important;
        display: inline-block !important;
    }
    
    .b24-form-field:nth-child(2n):not(:last-child) {
        padding-right: 10px !important;
    }
    
    .b24-form-field:nth-child(2n+1):not(:first-child) {
        padding-left: 10px !important;
    }
    
    .b24-form-btn {
        font-weight: 400 !important;
        padding: 10px 15px !important;
        height: auto !important;
        width: auto !important;
        display: block !important;
        color: white;
        background-color: rgb(0, 0, 0, 0.5) !important;
        font-size: 20px !important;
        border: 2px solid white !important;
        transition: 0.5s;
        font: unset !important;
    }
    
    .b24-form-btn:hover {
        background-color: white !important;
        color: black !important;
        padding: 10px 30px !important;
    }
    
    .b24-form-control-string .b24-form-control {
        background-color: #ffffff99 !important;
    }
    
    .b24-form-control-label {
        opacity: 1 !important;
    }
    
    .b24-form-control {
        border-radius: 0 !important;
    }
    
    .b24-form-field {
        margin-bottom: 0 !important;
    }
    
    .b24-form-control-alert {
        margin-bottom: 8px;
    }
    
    .b24-form-field:nth-child(1),
    .b24-form-field:nth-child(3) {
        top: 8px;
        position: relative;
    }
    
    .b24-form-field-phone input {
        margin-top: 0;
    }
</style>
{% endblock headercss %} {% block content %}
<section class="gs-banner">
    <div class="container">
        <p>Get Started</p>
        <h2>FUTURE-PROOF YOUR SECURITY WITH RELIABLE SOLUTIONS, TODAY</h2>
    </div>
</section>

<section class="gs-find">
    <div class="container">
        <div class="find-section">
            <div class="row">
                <div class="col-md-5">
                    <div class="find-buttons">
                        <a id="request-btn" class="f-btn"> Request Call Back </a>
                        <a id="virtual-btn" class="f-btn"> Virtual Meeting </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div id="request" class="find-box pt-3 lazy" data-bg="{% static '' %}img/getstart/Request-call.png" title="techforing-get-started-pcs">
                        <div>
                            <h2>Getting in touch is easy</h2>
                        </div>
                        <script data-b24-form="inline/76/rqq90s" data-skip-moving="true">
                            (function(w, d, u) {
                                var s = d.createElement('script');
                                s.async = true;
                                s.src = u + '?' + (Date.now() / 180000 | 0);
                                var h = d.getElementsByTagName('script')[0];
                                h.parentNode.insertBefore(s, h);
                            })(window, document, 'https://cdn.bitrix24.com/b15773863/crm/form/loader_76.js');
                        </script>
                    </div>

                    <div id="virtual" class="find-box">
                        <div>
                            <h2>Meet Face to Face</h2>
                            <p>We are waiting to meet you</p>
                        </div>
                        <a href="{% host_url 'appointment' %}" target="_blank" class="reserve">
                            <i class="far fa-calendar-check mr-2"></i>Schedule Your Meeting
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %} {% block customjs %}

<script src="{% static 'js/glide.js' %}"></script>

<script src="{% static 'js/home-tab.js' %}"></script>
<script src="{% static 'js/gs.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<script src="{% static 'js/telephone.js' %}"></script>
<script>
    if (localStorage.hasOwnProperty('b24-form-field-stored-values'))
        localStorage.removeItem('b24-form-field-stored-values');

    let timer = 0;
    let country = 'us';
    let countryData;

    fetch('https://reallyfreegeoip.org/json/')
        .then(res => res.json())
        .then(data => {
            country = data.country_code.toLowerCase();
            ipLocation();
        });

    function ipLocation() {
        function addCode() {
            document.querySelectorAll('.b24-form-btn-block>.b24-form-btn')[2].innerHTML = '<i class="fas fa-phone-square-alt mr-2" aria-hidden="true"></i> Submit';

            let input = document.querySelectorAll("input[type='tel']");

            input.forEach(elem => {
                let currInput = intlTelInput(elem, {
                    initialCountry: country
                });

                countryData = currInput.getSelectedCountryData();
                elem.value = '+' + countryData.dialCode;

                let dialCode = '+' + countryData.dialCode;
                document.addEventListener('click', e => {
                    let elemClass = e.target.classList;
                    if (elemClass.contains('iti__country')) {
                        dialCode = e.target.children[2].innerHTML;
                        elem.value = dialCode;
                    } else if (elemClass.contains('iti__flag-box') ||
                        elemClass.contains('iti__country-name') ||
                        elemClass.contains('iti__dial-code')) {
                        dialCode = e.target.parentNode.children[2].innerHTML;
                        elem.value = dialCode;
                    }
                });
            });
            timer++;
            if (timer > 30)
                clearInterval(interval);
        }

        let interval = setInterval(addCode, 500);

        document.querySelectorAll('.bitrix-form-btn').forEach(btn => {
            btn.addEventListener('click', () => {
                timer = 0;
                interval = setInterval(addCode, 500);
            });
        });

        let classes = ['b24-form', 'b24-form-control', 'iti__flag', 'iti__arrow', 'iti__selected-flag'];
        document.body.addEventListener('click', e => {
            if (classes.includes(e.target.classList[0]))
                clearInterval(interval);
        });
    }
</script>

<script src="{% static 'js/purecookie.js' %}"></script>


{% endblock customjs %}