{% extends 'base/base.html' %}
{% load static %}
{% load hosts %}

{% block title %}
    TechForing Leaders
{% endblock title %}

{% block headercss %}
    <link rel="stylesheet" href="{% static 'tfcss/style.css' %}" />
{% endblock headercss %}

{% block content %}
    <section class="leader-banner">
      <div class="container">
        <h2>The Masterminds Behind TechForing</h2>
      </div>
    </section>
    <section class="leader-about">
      <div class="container">
        <div class="fran-bar"></div>
        <h2 class="tfh-title-right">Proven Experience, Combined Leadership</h2>
        <p class="text-justify">
          TechForing Ltd. is a premier team of certified professionals. For years, we’ve remained committed to delivering quality service to individuals, small business owners, and enterprises alike. Our information technology solutions are proven and repeatable. Our team uses a data security approach that synergistically integrates People, Process, and Platform. Also, we place a strong focus on our client’s requirements. Employing streamlined methodologies and providing best-of-class service. 
          <br /><br />
          The groundbreaking leadership you need to consult with you or manage your online team is available. We take pride in our ability to provide seamless integration with no disruption to your workflow. Our team comprises certified professionals with over 120 years of combined experience in our specific industry.
        </p>
      </div>
    </section>
    <section class="leaders">
      <div class="container">
        <div class="fran-bar"></div>
        <h2 class="tfh-title-right">our board members</h2>
        <div class="row leader-row">
          <div class="col-md-3">
            <div class="leader-box">
              <div class="leader-img">
                <img src="{%static ''%}tfimg/leader/chairman.png" alt="" />
              </div>
              <h2 class="l-des">chairman</h2>
              <h2 class="l-name">Rehena Parveen</h2>
              <p class="text-justify">
                Rehena Parveen is the Chairman of TechForing Ltd. She holds a Bachelor’s Degree in Economics from the National University of BD and has over 25 years of industrial experience and excellent command over management, recruitment, and financial data analysis. She has co-founded and has been leading TechForing since day one.
              </p>
              <!-- <a href="#"><i class="fab fa-linkedin"></i></a> -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="leader-box">
              <div class="leader-img">
                <img src="{%static ''%}tfimg/leader/managing director.png" alt="" />
              </div>
              <h2 class="l-des">CEO & Managing Director</h2>
              <h2 class="l-name">MD. Rabiul Islam</h2>
              <p class="text-justify">
                Rabiul Islam is the founder and managing director of TechForing Ltd. He is a serial entrepreneur with a passion for technology and engineering and holds a Bachelor's Degree in Information Technology and a Master’s Degree in Electronics and Computer Engineering. He is also C|EH, CISA, CISSP, AWS, CCNA, CCNP certified.
              </p>
              <a href="https://www.linkedin.com/in/mr-islam/"
                ><i class="fab fa-linkedin"></i
              ></a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="leader-box">
              <div class="leader-img">
                <img src="{%static ''%}tfimg/leader/managing partner usa.png" alt="" />
              </div>
              <h2 class="l-des">managing partner</h2>
              <h2 class="l-name">Phillip R Moran</h2>
              <p class="text-justify">
                Phillip R Moran is the Managing Partner of TechForing Ltd. He is
                an expert in Nuclear Power Technology and a seasoned business
                professional. He had served in the US Navy as a Nuclear
                Machinist. At present he leads the TechForing operation in the
                USA. He is the driving force behind TechForing’s thriving
                success in America.
              </p>
              <!-- <a href="#"><i class="fab fa-linkedin"></i></a> -->
            </div>
          </div>
        </div>
        <div class="row leader-row">
          <div class="col-md-3">
            <div class="leader-box">
              <div class="leader-img">
                <img src="{%static ''%}tfimg/leader/managing partner.png" alt="" />
              </div>
              <h2 class="l-des">managing partner</h2>
              <h2 class="l-name">MAHBUB CHOUDHURY</h2>
              <p class="text-justify">
                Mahbub Choudhury is the managing partner of TechForing Ltd. He has extensive hands-on and management experience in the military, private sector and in the United Nations. He also served as a former Major in the Bangladesh Army and holds CPP and PSP certifications. His post-military career includes Manager Security Ops-Royal Bank of Canada, and Manager Training & Awareness, Global Security & Investigations -TD Bank Group, Canada.
              </p>
              <a href="https://www.linkedin.com/in/mahbubchoudhury/"
                ><i class="fab fa-linkedin"></i
              ></a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="leader-box">
              <div class="leader-img">
                <img src="{%static ''%}tfimg/leader/ray-advisor.png" alt="" />
              </div>
              <h2 class="l-des">ADVISOR</h2>
              <h2 class="l-name">Ray Hutchin</h2>
              <p class="text-justify">
                Ray Hutchins is a rare commodity in our digital economy. He is an experienced, CISSP-trained IT business executive who seamlessly straddles both the corporate and cybersecurity worlds. Amongst many cybersecurity achievements, Ray helped to help the National Association of Certified Valuation Analysts (NACVA) incorporate cybersecurity due-diligence into the business valuation standard.
              </p>
              <a href="https://www.linkedin.com/in/hutchins/"
                ><i class="fab fa-linkedin"></i
              ></a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="leader-box">
              <div class="leader-img">
                <img src="{%static ''%}tfimg/leader/salim-advisor.png" alt="" />
              </div>
              <h2 class="l-des">ADVISOR</h2>
              <h2 class="l-name">Salim Hariri</h2>
              <p class="text-justify">
                Salim Hariri is a professor and University of Arizona site
                director of the NSF-funded Center for Cloud and Autonomic
                Computing. He founded the IEEE/ACM International Symposium on
                High Performance Distributed Computing, or HPDC, and is the
                co-founder of the IEEE/ACM International Conference on Cloud and
                Autonomic Computing. He also serves as editor-in-chief of the
                scientific journal Cluster Computing.
              </p>
              <a href="https://www.linkedin.com/in/salim-hariri-7432744/"
                ><i class="fab fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block customjs %}
    <script src="{%static ''%}tfjs/career.js"></script>
    <script src="{%static ''%}tfjs/find.js"></script>
    <script>
      $(document).ready(function () {
        $("#my-header").load("header.html");
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#my-footer").load("footer.html");
      });
    </script>
{% endblock customjs %}