{% extends 'base/academybase.html' %} {% load static %} {% load hosts %} {% block title %} Law Enforcement Cyber Security Training | Academy TechForing {% endblock title %} {% block meta %}
<meta property="og:description" content="Techforing provides Law Enforcement Cyber Security on-premise or online training to assist sheriffs, patrol officers, local, or state police, commanders, federal agencies, digital forensic investigators, detectives, and prosecutors to not only investigate and develop intelligence but to provide useful operational knowledge to those they serve."
/>
<meta name="description" content="Techforing provides Law Enforcement Cyber Security on-premise or online training to assist sheriffs, patrol officers, local, or state police, commanders, federal agencies, digital forensic investigators, detectives, and prosecutors to not only investigate and develop intelligence but to provide useful operational knowledge to those they serve."
/>
<meta name="keywords" content="Law Enforcement Cyber Security,computer forensic training for law enforcement, cyber crime training, digital forensics training for law enforcement, cyber security in law enforcement, Techforing academy" /> {% endblock meta %} {% block headercss %} {% endblock headercss %} {% block content %}
<section class="law-banner">
    <div class="container">
        <div class="aca-bar"></div>
        <h2>
            law enforcement <br /> CYBER SECURITY TRAINING
        </h2>
        <!-- <div class="abanner-btn">
          <a href="https://blog.techforing.com/" target="_blank">Get the latest report</a>
        </div> -->
    </div>
</section>
<section class="cor-about">
    <div class="container">
        <h2>CYBERCRIMES ARE ON THE RISE THROUGHOUT THE WORLD</h2>
        <div class="row cora-row">
            <div class="col-md-3">
                <div class="cora-box">
                    <svg version="1.1" baseProfile="full" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle8" cx="100" cy="100" r="60" fill="none" />
            <circle class="circle7" cx="100" cy="100" r="60" fill="none" />
            <circle class="circle6" cx="100" cy="100" r="80" fill="none" />
            <circle class="circle5" cx="100" cy="100" r="80" fill="none" />
            <text x="75" y="110" fill="black">35%</text>
          </svg>
                    <p>
                        of companies in a global survey were targeted by an SSL or TLS-based attack
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="cora-box">
                    <svg version="1.1" baseProfile="full" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle8" cx="100" cy="100" r="60" fill="none" />
            <circle class="circle7" cx="100" cy="100" r="60" fill="none" />
            <circle class="circle6" cx="100" cy="100" r="80" fill="none" />
            <circle class="circle5" cx="100" cy="100" r="80" fill="none" />
            <text x="60" y="110" fill="black">200M</text>
          </svg>
                    <p>
                        ransomware attacks occurred in the first nine months of 2020
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="cora-box">
                    <svg version="1.1" baseProfile="full" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle8" cx="100" cy="100" r="60" fill="none" />
            <circle class="circle7" cx="100" cy="100" r="60" fill="none" />
            <circle class="circle6" cx="100" cy="100" r="80" fill="none" />
            <circle class="circle5" cx="100" cy="100" r="80" fill="none" />
            <text x="70" y="110" fill="black">54%</text>
          </svg>
                    <p>
                        more organizations recorded a growth of insider threats in 2018
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="cora-box">
                    <svg version="1.1" baseProfile="full" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle8" cx="100" cy="100" r="60" fill="none" />
            <circle class="circle7" cx="100" cy="100" r="60" fill="none" />
            <circle class="circle6" cx="100" cy="100" r="80" fill="none" />
            <circle class="circle5" cx="100" cy="100" r="80" fill="none" />
            <text x="70" y="110" fill="black">6.4B</text>
          </svg>
                    <p>Fake emails are sent everyday by scammers and attackers</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cor-important">
    <div class="container">
        <div class="aca-bar"></div>
        <h2 class="cor-title">cyber awarness for law enforcement</h2>

        <div class="row cori-row">
            <div class="col-md-6">
                <div class="cori-list">
                    <ul>
                        <li class="d-flex">
                            <i class="fas fa-circle"></i>
                            <div>
                                <h2>Incident Response & Crime Investigation</h2>
                                <p>
                                    Before forensic investigation, we teach you to immediately contain the damage points in IT breach or security policy violation scenarios.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-circle"></i>
                            <div>
                                <h2>Open Source Intelligence & Data Analysis</h2>
                                <p>
                                    We provide the necessary tactics to extract info on any suspicious act or a person of interest through publicly available data.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-circle"></i>
                            <div>
                                <h2>Hack the Hacker</h2>
                                <p>
                                    We teach LEA to track emails without a Subpoena and a cybercriminal through skype; spoof emails without any software.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-circle"></i>
                            <div>
                                <h2>Sextortion Surge during COVID-19</h2>
                                <p>
                                    Learning about how international agreements fail to track booming sex trafficking industry and to investigate with the help of Facebook
                                </p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-circle"></i>
                            <div>
                                <h2>
                                    Americans lost $20 billion from phone spoofing in 2020
                                </h2>
                                <p>
                                    They will know about issuing a Subpoena to the spoofing entity and criminals’ strategies for untraceable calls, checking voicemails, etc.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-circle"></i>
                            <div>
                                <h2>
                                    251 Law Enforcement websites with Cop data got hacked
                                </h2>
                                <p>
                                    We train on monitoring websites, vulnerability assessment, detecting hidden URLs, extracting user data with and without tools.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cori-img">
                    <img src="{% static '' %}academyimg/law_enforcment/cyber awareness for law enforcement.png" alt="law-enforcement-cyber-security" title="Cyber Awareness for Law Enforcement" longdesc="Cyber Awareness Training for law Enforcement Agency" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ct-details">
    <div class="container">
        <div class="aca-bar mx-auto"></div>
        <h2 class="ccsp-title">course details</h2>
        <p>
            Techforing training courses and certifications will assist sheriffs, patrol officers, local, or state police, commanders, federal agencies, digital forensic investigators, detectives, and prosecutors to not only investigate and develop intelligence but
            to provide useful operational knowledge to those they serve.
        </p>
        <a href="{% url 'demo_download' %}{{ file_url }}" target="_blank">Download Curriculum</a>
    </div>
</section>
<section class="ccsp-ins">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ccspi-img">
                    <img src="{% static '' %}academyimg/law_enforcment/trainers.png" title="Our Instructors" alt="law-enforcement-cyber-security-cyber-crime-training" longdesc="Industry expert cybersecurity trainer" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="ccspi-box">
                    <div class="ccspi-inner">
                        <div class="aca-bar"></div>
                        <h2 class="ccsp-title">
                            OUR TRAINERS ARE ALWAYS AT YOUR SERVICE
                        </h2>
                        <ul>
                            <li>
                                We have cybersecurity experts who earned their reputation globally by serving individuals and businesses with Ethical Hacking, Data Protection, and Privacy Services. They have some of the top security certifications like C|EH, CHFI, CISA, CISSP, Security+.
                                When it comes to ethical hacking, they are some of the finest in this industry. They understand the tech arena and well-versed with all the latest potential cyberthreats that can occur in an organization. Having worked
                                with different cybersecurity projects for Government agencies and industry-leading private companies, they have established themselves as some of the finest in this business.
                            </li>
                            <li>
                                Our computer forensic training for law enforcement will help you find vulnerabilities in the most renowned security systems around. Under their guidance, you will be able to sharpen your cybersecurity skillset.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ccsp-details">
    <div class="container">
        <div class="aca-bar mx-auto"></div>
        <h2 class="ccsp-title">course mode</h2>
        <div class="cm-row row justify-content-center">
            <div class="col-md-3">
                <div class="law-hexa">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="200" height="225">
            <polyline id="hexagon" points="100,0 225,75 225,150 100,225 0,165 0,60 100,0" />
          </svg>
                    <img src="{% static '' %}academyimg/academy/Onsite-learning.png" alt="" />
                    <h2>on-premise</h2>
                    <p>Provide hands-on assistance by Visiting your premise</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="law-hexa">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="200" height="225">
            <polyline id="hexagon" points="100,0 225,75 225,150 100,225 0,165 0,60 100,0" />
          </svg>
                    <img src="{% static '' %}academyimg/academy/online-learning.png" alt="" />
                    <h2>online</h2>
                    <p>Attend from anywhere with internet by video meeting app</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="law-hexa">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="200" height="225">
            <polyline id="hexagon" points="100,0 225,75 225,150 100,225 0,165 0,60 100,0" />
          </svg>
                    <img src="{% static '' %}academyimg/academy/self-placed.png" alt="" />
                    <h2>Self Placed</h2>
                    <p>Learn at your own pace from pre-recorded training videos</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="center-slide">
    <section class="ct-slide">
        <div class="container">
            <div class="le-glide glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <div class="le-img">
                                <img src="{% static '' %}logos/Vector Smart Object@1X.png" alt="" />
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="le-img">
                                <img src="{% static '' %}logos/bdArmy.png" alt="" />
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="le-img">
                                <img src="{% static '' %}logos/1200px-Patch_of_the_New_York_City_Police_Department.svg@1X.png" alt="" />
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="le-img">
                                <img src="{% static '' %}logos/175px-Seal_of_the_Federal_Bureau_of_Investigation.svg@1X.png" alt="" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ct-arrows le-arrows glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <div class="left-arrow-img">
              <img src="{% static '' %}academyimg/left-arrow_white.png" alt="" />
            </div>
          </button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <div class="right-arrow-img">
              <img src="{% static '' %}academyimg/right-arrow-white.png" alt="" />
            </div>
          </button>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="ccsp-slider">
    <div class="container">
        <div class="aca-bar"></div>
        <h2 class="ccsp-title">what our attendees are saying</h2>
    </div>
    <div class="ccsps-outer">
        <div class="container">
            <div class="corc-glide glide">
                <div class="ct-track glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <div class="ccsps-box row">
                                <div class="col-md-9">
                                    <div class="ccsps-right lec-right">
                                        <div class="d-flex align-items-center">
                                            <img src="{% static '' %}academyimg/academy/quote.png" alt="" />
                                            <div class="lec-id">
                                                <h2 class="lec-name">Batho Motubudi (BOTSWANA)</h2>
                                                <i>Managing Director, Paperchaser Mobile</i>
                                            </div>
                                        </div>

                                        <p class="ctc-border">
                                            Before this session, I was honestly wasn't sure about its' necessity as we already have an IT team in-house. But having talked to them, I leant that the trainers really did a good job. Everyone's happy about the course. The course materials cover the
                                            most relevant ones, so I'd say well done!
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="lec-left">
                                        <div class="ccsps-img">
                                            <img src="{% static '' %}academyimg/law_enforcment/Batho-Motubudi.png" alt="law-enforcement-cyber-security-client-testimonial" title="Law enforcement training testimonial" longdesc="Law enforcement training testimonial of Batho Motubudi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="glide__bullets ccsp-bullets" data-glide-el="controls[nav]">
                    <!-- <button class="glide__bullet" data-glide-dir="=0"></button>
              <button class="glide__bullet" data-glide-dir="=1"></button>
              <button class="glide__bullet" data-glide-dir="=2"></button> -->
                </div>
            </div>
            <div class="story-btn">
                <a href="https://techforing.com/pages/testimonial.html" target="_blank" class="px-5">Read all</a
                >
              </div>
</section>
<section class="ccsp-cta">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="ccsp-cta-box">
                    <h2>Get Mentorship Guidance From Us</h2>
                    <p>We know how to make the best use of your employee's time</p>
                    <a href="{% host_url 'get_start' host 'main' %}" target="_blank" class="ct-cta-btn">Enroll Now</a>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="ccsp-resource">
    <div class="container">
        <div class="aca-bar"></div>
        <h2 class="ccsp-title">Important Resources</h2>
    </div>
    <div class="ccspr-outer ct-outer">
        <div class="container">
            <div class="ccspr-row row">
                <div class="col-md-4">
                    <div class="ccspr-img">
                        <img src="{% static '' %}academyimg/law_enforcment/case1.png" alt="law-enforcement-cyber-security-cyber-security-in-law-enforcement" title="Law Enforcement Cyber Training Case Study 1" longdesc="Law enforcement agency training case study 1" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="ccspr-right">
                        <div class="aca-bar"></div>
                        <h2>FAQ</h2>
                        <p>
                            As an officer of the law, you may have lots of doubts and confusion about the effectiveness of our training. So, we brought together some of the most common inquiries here as clarifications. Please check out this section and see if your questions are
                            answered.
                        </p>
                        <div class="text-right">
                            <a href="faq.html" target="_blank" class="ccspr-btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ccspr-row row">
                <div class="col-md-4">
                    <div class="ccspr-img">
                        <img src="{% static '' %}academyimg/law_enforcment/case2.png" title="Law Enforcement Cyber Training Case Study 2" alt="law-enforcement-cyber-security-case-studies-2" longdesc="Law enforcement agency training case study 2" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="ccspr-right">
                        <div class="aca-bar"></div>
                        <h2>tutorial</h2>
                        <p>
                            There are some topics, which require more direct and instantaneous solutions. So we got together some specified tutorials that complement the topics discussed in the training. You can find them here in short videos or pdf formats.
                        </p>
                        <div class="text-right">
                            <a href="https://www.youtube.com/channel/UCBP7xegSjtVXulfywJ2kPvQ" target="_blank" class="ccspr-btn">Learn
                        More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ccspr-row row">
                <div class="col-md-4">
                    <div class="ccspr-img">
                        <img src="{% static '' %}academyimg/law_enforcment/case3.png" title="Law Enforcement Cyber Security Training Case Studies 3" alt="law-enforcement-cyber-security-case-studies-3" longdesc="Law enforcement agency training case study 3" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="ccspr-right">
                        <div class="aca-bar"></div>
                        <h2>securitymania</h2>
                        <p>
                            Here, you will find some cybercrime cases, that we investigated and reported following a comprehensive crime investigation procedure. The details are strictly from cybersecurity POV, just enough knowledge to match the cases you face or will be facing
                            in your field of work.
                        </p>
                        <div class="text-right">
                            <a href="https://blog.techforing.com/" target="_blank" class="ccspr-btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="comp-cta">
    <div class="container">
        <div class="acar-line"></div>
        <h2>Avail Our Taut Security Tips and Tricks</h2>
        <p class="mt-3">
            We regularly publish blogs and webinars on the greatest cyberthreats this world is facing. We are trying to raise awareness of the need for law enforcement leaders to ensure that cybercrime training programs reach the right personnel at the right time.
        </p>
        <form action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" method="post">
            <input type="email" name="email" class="he-input" placeholder="Enter your email address" />
            <input type="hidden" name="campaign_token" value="okQ7V" />
            <input type="hidden" name="thankyou_url" value="https://techforing.com/pages/thanks_subscriber.html" />
            <input type="hidden" name="start_day" value="0" />
            <button class="aca-input-btn" type="submit">Sign us up</button>
        </form>
    </div>
</section>
{% endblock content %} {% block customjs %}
<script>
    new Glide(".le-glide", {
        type: "carousel",
        perView: 4,
        breakpoints: {
            800: {
                perView: 3,
            },
        },
    }).mount();
</script>
{% endblock customjs %}