{% extends 'base/bcs_admin_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} BCS Edit
{% endblock title %}

{% block headercss %}
    <link rel="stylesheet" href="{% static 'tfcss/admin_panel/bcsTF/edit.css' %}"/>
{% endblock headercss %}
{% block content %}
    <main>
        <div class="container">
            <h2>Edit</h2>
            {{ selected_interest }}
            <div id="loading" class="d-none justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.media }}
                {{ form|crispy }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <button type="submit" class="btn btn-primary my-3 text-capitalize">Update</button>
            </form>
        </div>
    </main>
{% endblock content %}
{% block customjs %}
    <!-- custom scripts -->
    <script src="{% static 'tfjs/admin_panel/bcsTF/nav.js' %}"></script>
    <script>
        document.getElementById('id_description').addEventListener('keydown', e => {
            if (e.key == 'Enter' || e.which == '13') {
                e.preventDefault();
            }
        });
        let format = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
        document.getElementById('id_title').addEventListener('keydown', e => {
            if (format.test(e.key))
                e.preventDefault();

        });
    </script>

    <script>
        let form = document.getElementById('form');
        let loading = document.getElementById('loading');

        let username = '{{ paypal_user }}'
        let password = '{{ paypal_pass }}'

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            let product_title = document.getElementById('id_service_title').value;
            let short_description = document.getElementById('id_short_description').value;
            let product_id = document.getElementById('product_id');
            form.classList.add('d-none')
            loading.classList.remove('d-none')
            loading.classList.add('d-flex')
            fetch('{{ paypal_url }}catalogs/products', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    Authorization: "Basic " + btoa(username).slice(0, -1) + '6' + btoa(password),
                },
                body: JSON.stringify({
                    "name": product_title+' - BCS',
                    "description": short_description,
                    "type": "SERVICE",
                    "category": "COMPUTER_AND_DATA_PROCESSING_SERVICES",
                })
            }) /*end fetch */
                .then(results => results.json())
                .then(data => {
                    product_id.value = data.id;
                    {#console.log(product_id.value)#}
                    form.submit()
                })
        })


    </script>
{% endblock customjs %}