{% extends 'base/bcs_admin_base.html' %}
{% load static %}
{% load hosts %}
{% block title %} BCS Admin List
{% endblock title %}

{% block content %}
<style>
    .profile-area {
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col,
    .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3,
    .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }
</style>
<div class="profile-area">
    {% include 'base/verification_check.html' %}
    <section class="">
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="{{ user.profile_pic.url }}" alt="Admin" class="rounded-circle" width="150" height="150" style="object-fit: cover">
                                    <div class="mt-3">
                                        <h4>{{ user.full_name }}</h4>
                                        <p class="text-secondary mb-1">{{ user.email }}</p>
                                        <p class="text-muted font-size-sm">{{ user.phone_number }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.full_name }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.email }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Birthdate</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.birth_date }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Gender</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.gender }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Registration Date</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.date_joined }}
                                    </div>
                                </div>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

</div>
{% endblock content %}
{% block customjs %}
<script>
    document.querySelector('main>div').classList.value = ''
    let infoValues = document.querySelectorAll('.profile-info .info-value');
    let profileInputs = document.querySelectorAll('.profile-info input');



    document.getElementById("imageUpload").addEventListener("change", function(e) {
        if ((this.files[0].type).slice(0, 5) != "image") {
            document.getElementById("image_form").reset();
            alert('Invalid Image File!');
        } else {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    document.querySelector('#imagePreview').style.backgroundImage = 'url(' + e.target.result + ')';
                }
                reader.readAsDataURL(this.files[0]);
                var fileInput = document.getElementById('imageUpload');
                var filename = fileInput.files[0].name;
                document.querySelector('.fa-camera').classList.add('d-none');
            }
        }
    });

    document.querySelectorAll('.selection-area label').forEach(label => {
        label.classList.add('text-truncate');
    });
</script>
{% endblock customjs %}