{% extends 'base/academy_user_base.html' %} {% load static %} {% load hosts %} {% block title %} My Exams {% endblock title %} {% block content %}

<section class="mb-5 orders pb-5">
    <h4 class="pt-2 fw-bold border-bottom border-gray pb-14p">Your Upcoming Exams</h4>
    <div class="mt-5">&nbsp;</div>
    <h3 class="text-center text-gray my-5 py-5 h-100">No Exam Found!</h3>

    <div class="my-5">&nbsp;</div>
</section>

{% endblock content %} {% block customjs %}
<script>
</script>
{% endblock customjs %}