{% extends 'base/pcs_user_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Redirect {% endblock title %}
{% block headercss %}
    <link rel="stylesheet" href="{% static 'css/telephone.css' %}"/>
    <style>
        .iti__selected-flag {
            border-right: none;
            margin-top: 5px !important;
        }

        label {
            text-transform: capitalize;
            margin-top: 5px
        }

        .select2-container.select2-container--default {
            width: 30% !important;
            border-radius: 0 !important
        }

        #id_phone_number_1 {
            width: 70% !important;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-left: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            top: 1px;
            position: relative;
            border-radius: 0 4px 4px 0
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 6px !important;

        }

        .select2-container--default .select2-selection--single {
            border-color: #d8dde2;
            border-radius: 4px 0 0 4px;
        }

        input, select, .select2-selection, .select2 {
            height: 40px !important
        }

        .select2-selection {
            display: flex !important;
            align-items: center !important
        }

        .select2-dropdown.select2-dropdown--above {
            width: 200px !important
        }
        .alert-dismissible .btn-close{
            top: -7px
        }
    </style>
{% endblock %}
{% block content %}

    <section class="mb-5 orders pb-5">
        <h4 class="pt-2 fw-bold border-bottom border-gray pb-14p">Choose where you want to go</h4>
        <div class="mt-5">&nbsp;</div>
        {% if message %}
            <div id="liveAlertPlaceholder"></div>
        {% endif %}
        <div class="d-flex justify-content-md-center">
            <button data-bs-toggle="modal" data-bs-target="#joinExisting" class="btn btn-outline-navy me-3">Join an
                Existing Business
            </button>
            <button data-bs-toggle="modal" data-bs-target="#createNew" class="btn btn-outline-navy">Create a New
                Business
            </button>
        </div>

        <!-- Joining Modal -->
        <div class="modal fade" id="joinExisting" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="joinExistingLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="joinExistingLabel">Enter Your Business KEY</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="" method="POST">
                        <div class="modal-body">
                            <input type="text" name="joining_key" placeholder="Enter the KEY" class="form-control"
                                   required>
                            {% csrf_token %}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="join" class="btn btn-navy">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Creation Modal -->
        <div class="modal fade" id="createNew" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="createNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createNewLabel">Register a New Business</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="modal-body">
                            {{ form|crispy }}
                            {% csrf_token %}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="new" class="btn btn-navy">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="my-5">&nbsp;</div>
    </section>

{% endblock content %}

{% block customjs %}
    <script src="{% static 'js/telephone.js' %}"></script>
    <script>
        var input = document.querySelector("#id_phone_number");
        input.value = "+1";
        intlTelInput(input, {});

        let dialList = document.querySelectorAll('.iti__country');
        for (let i = 0; i < dialList.length; i++) {
            dialList[i].addEventListener('click', function () {
                input.value = dialList[i].children[2].innerHTML;
            });
        }

        input.addEventListener('keyup', (e) => {
            e.target.value = e.target.value.replace(/[^0-9-+]/gi, "");
        });
    </script>
    <script>
        var alertPlaceholder = document.getElementById('liveAlertPlaceholder')

        function alert(message, type) {
            var wrapper = document.createElement('div')
            wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'

            alertPlaceholder.append(wrapper)
        }

        alert('{{ message }}', 'danger')
    </script>
{% endblock customjs %}