{% extends 'base/bcs_user_base.html' %} {% load static %} {% load my_filter %} {% load hosts %} {% block title %}
    Services {% endblock title %} {% block content %}

    <style>
        form label {
            text-transform: capitalize;
            margin-top: 8px
        }

        .package .info-btn {
            border-radius: .3rem !important;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            background-color: #fff;
            padding: .5rem .8rem;
            margin-inline: auto;
            margin-block-end: 10px;
            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        }
    </style>

    <section class="services position-relative">
        <h4 class="main-heading">All Business Cybersecurity Services
        </h4>

        <button id="back-btn" class="btn btn-outline-success btn-sm d-none position-absolute top-sm-0 end-0">
            <i class="icofont-long-arrow-left fw-bold"></i> Back to list
        </button>


        <div class="services-content">
            <div class="content-detail pe-2 mt-5">
                {% for category in service_category %}
                    <h5 class="mt-2 services-type">{{ category.category_name }}</h5>
                    <div class="row mx-0 mb-4 gy-4 pt-4 justify-content-center">
                        {% for service in category.service_category.all %}
                            <div class="col-md-4 px-0 pe-md-5">
                                <div class="bg-lightgreen p-2 rounded shadow-md d-flex flex-column h-100">
                                    <div class="text-center">
                                        <img class="service-icon" src="{{ service.service_icon.url }}">
                                    </div>
                                    <div class="ps-2 mt-2 text-center flex-grow-1">
                                        <h6 class="service-title">{{ service.service_title }}</h6>
                                        <p class="lh-1 fs-14">
                                            {{ service.short_description }}
                                        </p>
                                    </div>
                                    <div class="view-btn">
                                        <button class="{{ service.service_title|replacespace }}-bcs btn btn-sm">View
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% for service in category.subscription_service_category.all %}
                            {% if service.category_choice == 'bcs' %}
                                <div class="col-md-4 px-0 pe-md-5">
                                    <div class="bg-lightgreen p-2 rounded shadow-md d-flex flex-column h-100">
                                        <div class="text-center">
                                            <img class="service-icon" src="{{ service.service_icon.url }}">
                                        </div>
                                        <div class="ps-2 mt-2 text-center flex-grow-1">
                                            <h6 class="service-title">{{ service.service_title }}</h6>
                                            <p class="lh-1 fs-14">
                                                {{ service.short_description }}
                                            </p>
                                        </div>
                                        <div class="view-btn">
                                            <button class="{{ service.service_title|replacespace }}-bcs-sub btn btn-sm">
                                                View
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}

                <h4 class="main-heading">All Trainings</h4>
                {% for category in courses_categories %}
                    <h5 class="mt-2 services-type">{{ category.category_name }}</h5>
                    <div class="row mx-0 mb-4 gy-4 pt-4 justify-content-center">
                        {% for course in category.bcscourse_coursecategory.all %}
                            <div class="col-md-4 px-0 pe-md-5">
                                <div class="bg-lightgreen p-2 rounded shadow-md d-flex flex-column h-100">
                                    <div class="text-center">
                                        <img class="service-icon" src="{% static 'img/training hat.png' %}">
                                    </div>
                                    <div class="ps-2 mt-2 text-center flex-grow-1">
                                        <h6 class="service-title">{{ course.course_name }}</h6>
                                        <p class="lh-1 fs-14">
                                            {{ course.short_description }}
                                        </p>
                                    </div>
                                    <div class="view-btn">
                                        <button class="{{ course.course_name|replacespace }}-training btn btn-sm">View
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% comment %}
            <h5 class="mt-5 services-type">Program For Your Employees</h5>
            <!-- more services -->
            <div class="row mx-0 g-3 more-services">
                <div class="col-md-6 ps-md-0">
                    <div class="mt-4 bg-lightgreen px-2 py-3 rounded shadow-md">
                        <h6 class="mb-3 fw-bold text-uppercase">Personal Cybersecurity for Your Employees</h6>
                        <div class="d-flex">
                            <img class="service-icon" src="{% static 'tfimg/user_panel/services/user.png' %}" alt="">
                            <div class="ps-2">
                                <h6 class="fw-bold">Concierge Cybersecurity</h6>
                                <p class="lh-1 fs-6">Our personal cybersecurity services will protect your employee and
                                    employees family in cyberspace always.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button id="pcs-preview-btn" class="bg-navy btn btn-sm px-5 text-white">View</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pe-md-0">
                    <div class="mt-4 bg-lightgreen px-2 py-3 rounded shadow-md">
                        <h6 class="mb-3 fw-bold text-uppercase">Training Program for Your Employees</h6>
                        <div class="d-flex">
                            <img class="service-icon" src="{% static 'tfimg/user_panel/services/online-course.png' %}"
                                 alt="">
                            <div class="ps-2">
                                <h6 class="fw-bold">Leading Ethical Hacking Course</h6>
                                <p class="lh-1 fs-6">Our personal cybersecurity services will protect your employee and
                                    employees family in cyberspace always.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button data-bs-toggle="modal" data-bs-target="#trainingModal"
                                    class="bg-navy btn btn-sm px-5 text-white">View
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endcomment %}
        </div>


        <!-- modal for training program -->{% comment %}
        <div class="modal fade" id="trainingModal" tabindex="-1" aria-labelledby="trainingModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content border-0 bg-main">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close rounded-circle bg-green" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body px-5 pb-5">
                        <h4 class="px-3 fw-bold text-center">Provide information to get a quotation for employee
                            training program
                        </h4>

                        <form class="mt-4" method="POST">
                            {% csrf_token %}

                            <div id="train-employee-btn">
                                <select disabled class="mt-4 form-select bg-white" aria-label="Default select example">
                                    <option selected>No. of Employees you want to train?</option>
                                </select>
                            </div>
                            <input required id="train-employee-input"
                                   class="d-none form-control shadow mt-1 border border-navy"
                                   placeholder="Enter the number of employess you want to train.." type="text"
                                   maxlength="3" name="" autocomplete="off">

                            <div id="employee-program-btn">
                                <select disabled class="mt-4 form-select bg-white" aria-label="Default select example">
                                    <option selected>Which training program you want to enroll?</option>
                                </select>
                            </div>
                            <div id="employee-program-input" class="d-none w-100 p-2 mt-1 shadow border border-navy">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                    <label class="form-check-label" for="flexCheckDefault1">
                                        Program 1
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                    <label class="form-check-label" for="flexCheckDefault2">
                                        Program 2
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                                    <label class="form-check-label" for="flexCheckDefault3">
                                        Program 3
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="mt-5 d-block mx-auto btn bg-navy px-5 py-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endcomment %}
        <!-- services start  -->

        {% for service in services %}
            <div class="{{ service | replacespace }} preview-service-info pt-3 pb-5 d-none image-fluid">
                <div class='d-none'>
                    {{ service }}
                </div>
                <div class="row mx-0 bg-lightgreen shadow-md">

                    <div class="col-md-12 ">
                        <div class="py-2">
                            <p class="mt-3 mb-0">{{ service.service_header|safe }}</p>
                        </div>
                    </div>
                </div>
                <div class="my-3 py-4 px-3 bg-lightgreen shadow-md">
                    <div class="mt-3">
                        <h6 class="lh-base">
                            {{ service.service_body|safe }}
                        </h6>
                    </div>
                </div>
                <div class="whom-we-serve my-3 py-4 px-3 bg-lightgreen shadow-md">
                    <p class="mt-3">
                        {{ service.service_footer|safe }}
                    </p>
                    <!-- <div class="mt-3">
                        <ol class="row mx-0">
                            {% for subservice in service.subservice_service.all %}
                                <li class="{{ subservice.service|replacespace }} short-info-li col-auto me-3 lh-base fw-bold">{{ subservice.title }}</li>
                            {% endfor %}
                        </ol>

                    </div> -->
                </div>
                <div class="my-4 pt-5 px-3">
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-between">
                        <button id="{{ service.id }}" type="button"
                                class="get-quotation btn bg-navy px-2 py-1 mb-3 mb-md-0">Provide information
                            to
                            get a quotation
                        </button>
                        <a href="{% host_url 'bcs_appointment' host 'main' %}" class="btn bg-navy px-2 py-1">Talk to one of our
                            representatives</a>

                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- subscription services start.. loaded subscription services details  -->
        {% for service in subscription_services %}
            <div class="{{ service | replacespace }}-sub preview-service-info pt-3 pb-5 d-none image-fluid">
                <div class='d-none'>
                    {{ service }}
                </div>
                <div class="row mx-0 bg-lightgreen shadow-md">

                    <div class="col-md-12 ">
                        <div class="py-2">
                            <p class="mt-3 mb-0">{{ service.service_header|safe }}</p>
                        </div>
                    </div>
                </div>
                <div class="my-3 py-4 px-3 bg-lightgreen shadow-md">
                    <div class="mt-3">
                        <h6 class="lh-base">
                            {{ service.service_body|safe }}
                        </h6>
                    </div>
                </div>
                <div class="whom-we-serve my-3 py-4 px-3 bg-lightgreen shadow-md">
                    <p class="mt-3">
                        {{ service.service_footer|safe }}
                    </p>
                    <!-- <div class="mt-3">
                        <ol class="row mx-0">
                            {% for subservice in service.subservice_service.all %}
                                <li class="{{ subservice.service|replacespace }} short-info-li col-auto me-3 lh-base fw-bold">{{ subservice.title }}</li>
                            {% endfor %}
                        </ol>

                    </div> -->
                </div>
                <div class="my-4 pt-5 px-3">
                    <div class="d-flex justify-content-center">
                        <button id="{{ service.id }}" data-bs-toggle="modal" data-bs-target="#subscriptionDetail"
                                type="button" class="subscriptionDetailBtn btn bg-navy px-2 py-1">View Subscription
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- training details  -->
        {% for course in courses %}
            <div class="{{ course.course_name | replacespace }}-training preview-service-info pt-3 pb-5 d-none image-fluid">
                <div class='d-none'>
                    {{ course.course_name }}
                </div>
                <div class="row mx-0 bg-lightgreen shadow-md">
                    <div class="col-md-12 ">
                        <div class="py-2">
                            <p class="mt-3 mb-0">{{ course.short_description }}</p>
                        </div>
                    </div>
                </div>
                <div class="my-3 py-4 px-3 bg-lightgreen shadow-md">
                    <div class="mt-3">
                        <h6 class="lh-base">
                            {{ course.long_description|safe }}
                        </h6>
                    </div>
                </div>
                <div class="my-4 pt-5 px-3">
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-between">
                        <a href="{% host_url 'bcs_user_course_details' host 'main' %}{{ course.id }}"
                           class="get-quotation btn bg-navy px-2 py-1 mb-3 mb-md-0">View Details Module
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- modal for subscription services -->
        <div class="modal fade" id="subscriptionDetail" tabindex="-1" aria-labelledby="subscriptionDetailLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fw-bold"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="package-details row g-3">


                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- preview for pcs employees -->
        <div class="preview-service-info py-3 d-none">
            <div id="subscription-packages" class="d-none">
                <h4 class="px-3 fw-bold text-center">General Subscription packages FOR C-SUIT executive to get a
                    quotation
                </h4>
                <div class="mt-4 row text-dark mx-0 d-flex justify-content-center justify-content-sm-between">
                    <div class="package col-12 col-sm-3 px-2">
                        <div class="bg-lightgreen shadow p-2 rounded">
                            <h5 class="fw-bold text-center">MICRO</h5>
                            <table class="mx-auto mb-3">
                                <tr>
                                    <td>Phone Security
                                        <br> (Per user)
                                    </td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Business Email Security
                                        <br>(Per user)

                                    </td>
                                    <td>1</td>
                                </tr>

                                <tr>
                                    <td>Social Media Security
                                        <br>(Per User)

                                    </td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>PC/ MAC Security
                                        <br>(Per user)

                                    </td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Financial Account Security
                                        <br>(Per user)
                                    </td>
                                    <td>1</td>
                                </tr>
                            </table>

                            <div class="info-btn">
                                <p class="mb-0">
                                    <i class="icofont-laptop fw-bold"></i> Max Device
                                </p>
                                <p class="mb-0 fw-bold">5</p>
                            </div>
                            <button class="mt-3 d-block mx-auto text-center btn bg-navy px-3 py-1">Submit</button>
                        </div>
                    </div>
                    <div class="package mt-4 mt-sm-0 col-12 col-sm-3 px-2">
                        <div class="bg-lightgreen shadow p-2 rounded">
                            <h5 class="fw-bold text-center">SMALL</h5>
                            <table class="mx-auto mb-3">
                                <tr>
                                    <td>Phone Security
                                        <br> (Per user)
                                    </td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Business Email Security
                                        <br>(Per user)

                                    </td>
                                    <td>1</td>
                                </tr>

                                <tr>
                                    <td>Social Media Security
                                        <br>(Per User)

                                    </td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>PC/ MAC Security
                                        <br>(Per user)

                                    </td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Financial Account Security
                                        <br>(Per user)
                                    </td>
                                    <td>1</td>
                                </tr>
                            </table>

                            <div class="info-btn">
                                <p class="mb-0">
                                    <i class="icofont-laptop fw-bold"></i> Max Device
                                </p>
                                <p class="mb-0 fw-bold">10</p>
                            </div>
                            <button class="mt-3 d-block mx-auto text-center btn bg-navy px-3 py-1">Submit</button>
                        </div>
                    </div>
                    <div class="package mt-4 mt-sm-0 col-12 col-sm-3 px-2">
                        <div class="bg-lightgreen shadow p-2 rounded">
                            <h5 class="fw-bold text-center">MEDIUM</h5>
                            <table class="mx-auto mb-3">
                                <tr>
                                    <td>Phone Security
                                        <br> (Per user)
                                    </td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Business Email Security
                                        <br>(Per user)

                                    </td>
                                    <td>1</td>
                                </tr>

                                <tr>
                                    <td>Social Media Security
                                        <br>(Per User)

                                    </td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>PC/ MAC Security
                                        <br>(Per user)

                                    </td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Financial Account Security
                                        <br>(Per user)
                                    </td>
                                    <td>1</td>
                                </tr>
                            </table>

                            <div class="info-btn">
                                <p class="mb-0">
                                    <i class="icofont-laptop fw-bold"></i> Max Device
                                </p>
                                <p class="mb-0 fw-bold">15</p>
                            </div>
                            <button class="mt-3 d-block mx-auto text-center btn bg-navy px-3 py-1">Submit</button>
                        </div>
                    </div>
                    <div class="package mt-4 mt-sm-0 col-12 col-sm-3 px-2">
                        <div class="bg-lightgreen shadow p-2 rounded">
                            <h5 class="fw-bold text-center">CUSTOM</h5>
                            <div class="mx-auto mb-3">
                                <h6 class="fw-bold fs-7 my-2">Select on any types of security then enter the number of
                                    users.
                                </h6>
                                <tr>
                                    <td>
                                        <div class="form-check px-1" onclick="showInputField(this,'package-inp-1')">
                                            <input class="form-check-input float-end" type="checkbox" name=""
                                                   id="package-1">
                                            <label class="form-check-label fw-light fs-7" for="package-1">Phone
                                                Security</label>
                                        </div>
                                        <input id="package-inp-1" class="d-none mt-2 form-control form-control-sm"
                                               type="number" name="" placeholder="Per User">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check px-1" onclick="showInputField(this,'package-inp-2')">
                                            <input class="form-check-input float-end" type="checkbox" name=""
                                                   id="package-2">
                                            <label class="form-check-label fw-light fs-7" for="package-2">Business Email
                                                Security</label>
                                        </div>
                                        <input id="package-inp-2" class="d-none mt-2 form-control form-control-sm"
                                               type="number" name="" placeholder="Per User">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check px-1" onclick="showInputField(this,'package-inp-3')">
                                            <input class="form-check-input float-end" type="checkbox" name=""
                                                   id="package-3">
                                            <label class="form-check-label fw-light fs-7" for="package-3">Social Media
                                                Security</label>
                                        </div>
                                        <input id="package-inp-3" class="d-none mt-2 form-control form-control-sm"
                                               type="number" name="" placeholder="Per User">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check px-1" onclick="showInputField(this,'package-inp-4')">
                                            <input class="form-check-input float-end" type="checkbox" name=""
                                                   id="package-4">
                                            <label class="form-check-label fw-light fs-7" for="package-4">PC/ MAC
                                                Security</label>
                                        </div>
                                        <input id="package-inp-4" class="d-none mt-2 form-control form-control-sm"
                                               type="number" name="" placeholder="Per User">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check px-1" onclick="showInputField(this,'package-inp-5')">
                                            <input class="form-check-input float-end" type="checkbox" name=""
                                                   id="package-5">
                                            <label class="form-check-label fw-light fs-7" for="package-5">Financial
                                                Account
                                                Security</label>
                                        </div>
                                        <input id="package-inp-5" class="d-none mt-2 form-control form-control-sm"
                                               type="number" name="" placeholder="Per User">
                                    </td>
                                </tr>

                            </div>

                            <div class="info-btn">
                                <p class="mb-0">
                                    <i class="icofont-laptop fw-bold me-2"></i> Max Device
                                    <input type="number" class="w-100" name="" placeholder="Type number">
                                </p>
                            </div>
                            <button class="mt-3 d-block mx-auto text-center btn bg-navy px-3 py-1">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="invitation-container d-none py-5">
                <h5 class="fw-bold text-center text-navy">THANK YOU FOR CHOOSING C-SUIT <span id="package-name"></span>
                    PACKAGE.
                </h5>
                <div class="mt-5 d-flex align-items-center flex-wrap flex-md-nowrap justify-content-center">
                    <h5 class="text-center me-2 me-md-5">To invite members for your team</h5>
                    <a href="{% host_url 'bcs_user_my_team' host 'main' %}" class="btn btn-outline-navy">Click Here</a>
                </div>
            </div>
            <!-- Concierge Cybersecurity -->
            <div id="concierge-cybersecurity" class="bg-main">
                <div class="row mx-0 bg-lightgreen shadow-md">
                    <div class="col-md-3 py-4">
                        <img src="{% static '' %}tfimg/user_panel/cc.png" class="img-fluid d-block mx-auto" alt="...">
                    </div>
                    <div class="col-md-9 d-flex flex-column justify-content-center align-items-center">
                        <div>
                            <h6 class="fw-semi text-start fontAwesome mt-3">SECURE YOUR DIGITAL LIFE
                            </h6>
                            <p class="mt-3">We protect High-Net-Worth Individuals, Corporate Executives & Their
                                household with White-Glove Cybersecurity & Threat Detection Solutions. Our personal
                                cybersecurity services will protect you and your family in cyberspace, always.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="my-4 py-4 px-3 bg-lightgreen shadow-md">
                    <h5 class="fw-bold">Concierge Cybersecurity Services</h5>
                    <div class="mt-4">
                        <h6 class="fw-bold text-gray">Prevent Hackers at All Times</h6>
                        <p>Personal information security from cyber criminals and unknown entities. Total safeguarding
                            your Phone, iPad, android and computer devices. Your cloud storage will be the most secure
                            cloud storage for personal use.
                        </p>

                        <h6 class="fw-bold text-gray">Protect Digital Assets</h6>
                        <p>We ensure your Digital Asset Security across all devices including iMac, MacBook, Mac Mini,
                            PCs and Mobile. Personal Cloud account security for iCloud, Google Drive, Dropbox etc make
                            us stand out among most private security companies.
                        </p>

                        <h6 class="fw-bold text-gray">Secure Communication Channels</h6>
                        <p>Facebook, Instagram , snapchat, twitter and other social media accounts are secured and
                            updated. Ensuring your virtual life is not disrupted. Keeping your personal and business
                            email accounts secure and encrypted beyond regular.
                        </p>

                        <h6 class="fw-bold text-gray">Guard Your Privacy Online</h6>
                        <p>Concierge Cybersecurity protects you online from attacks like ransomware, phishing, malware,
                            spyware and insider threat. Facebook, Google or Microsoft, we hide your digital trace from
                            all tech companies to keep your privacy intact.
                        </p>
                    </div>
                </div>

                <div class="whom-we-serve my-4 py-4 px-3 bg-lightgreen shadow-md">
                    <h5 class="fw-bold">Whom We Serve</h5>
                    <div class="mt-4">
                        <div class="d-flex justify-content-between flex-wrap">
                            <h6 class="lh-base">HIGH-NET-WORTH INDIVIDUALS</h6>
                            <h6 class="lh-base">BUSINESS EXECUTIVES</h6>
                            <h6 class="lh-base">POLITICAL LEADERS</h6>
                            <h6 class="lh-base">CELEBRITIES & MEDIA PERSONALITIES
                            </h6>
                        </div>

                    </div>
                </div>
                <div class="my-4 pt-5 px-3">
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-between">
                        <button type="button" id="subscription-package-btn" type="button"
                                class="btn bg-navy px-2 py-1 mb-3 mb-md-0">Get Subscription Packages
                        </button>
                        <a href="{% host_url 'bcs_appointment' host 'main' %}" class="btn bg-navy px-2 py-1">Talk to one of our
                            representatives</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="preview-form" class="d-none">

        </div>
    </section>

{% endblock content %}
{% block customjs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        let backBtn = document.getElementById('back-btn');
        let servicesContent = document.querySelector('.services-content');
        let previewServiceInfos = document.querySelectorAll('.preview-service-info');
        let allBtn = document.querySelectorAll('.services-content .content-detail button');
        let quotationBtns = document.querySelectorAll('.get-quotation');
        let previewForm = document.getElementById('preview-form');


        let allServices;
        let mainHeading = document.querySelector('.services .main-heading');
        let mainHeadingText = 'All Business Cybersecurity Services';
        let servicesHeading = {{ services_headings | safe }};

        quotationBtns.forEach((btn, index) => {
            btn.addEventListener('click', e => {
                previewServiceInfos.forEach(form => {
                    form.classList.add('d-none');
                });
                previewForm.classList.remove('d-none');
                previewForm.innerHTML = `<div id="progress" class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        </div>`;

                // function start
                fetchData(`${location.origin}/api/bcs/sub_service/${btn.id}`)
                    .then(function (data) {
                        previewForm.removeChild(document.getElementById('progress'));

                        let list = '<div class="col-md-4 sub-services shadow"> <h5 class="fw-bold">Choose your services:</h5>';
                        let form = `<form method="POST" enctype="multipart/form-data">{% csrf_token %}<input type='hidden' id='service_name' value='' name='service_name'/>`
                        data.forEach((option, index) => {
                            list += `<div class="form-check">
                    <input class="form-check-input sub-services-check" type="checkbox" name="" id="sub-${option.id}" data-index="${index}" data-title="${option.title}" data-id="${option.id}">
                    <label class="form-check-label" for="sub-${option.id}">${index + 1}. ${option.title}</label>
                </div>`;
                            previewForm.innerHTML = '<div class="row mx-0">' + list + '</div>' + '<div class="col-md-8 d-none form-container" style="height: 90vh;overflow-x: auto;" ><h5 class="fw-bold text-center border-bottom border-gray p-2">Please Provide Necessary Informations:</h5>' + form + '<div class="information-form"></div><button type="submit" class="submit-btn btn btn-navy mt-3">Submit</button></form> </div>';

                        });
                        document.getElementById('service_name').value = mainHeading.textContent.trim();

                        addHtml()
                    }).catch(function (err) {
                    console.log(err)
                });

                const addHtml = () => {
                    const allServices = document.querySelectorAll('.sub-services-check');
                    const formContainer = document.querySelector('.form-container');
                    const formC = document.querySelector('.form-container form');
                    const informationForm = document.querySelector('.information-form');
                    allServices.forEach((check, index) => {
                        check.addEventListener('change', e => {
                            if (check.checked) {
                                document.querySelector('.form-container').classList.remove('d-none');
                                optionId = e.target.getAttribute("data-id")
                                optionIndex = e.target.getAttribute("data-index")
                                optionTitle = check.getAttribute("data-title")
                                const div = document.createElement("div")
                                div.setAttribute("id", `sub-${optionId}-input`)
                                let inputFields = '';
                                // informationForm.children[optionIndex]
                                //
                                formC.insertAdjacentHTML('beforebegin', `<p id="progress">Loading...</p>`);
                                fetchData(`${location.origin}/api/bcs/sub_service_input/${optionId}`).then(function (fields) {
                                    formContainer.removeChild(document.getElementById("progress"))
                                    inputFields += `<div class="mt-5"data-position="${optionIndex}">  <h6 class="heading">${optionTitle}</h6>`;
                                    fields.forEach(field => {

                                        if (field.inputfield.type === 'select') {
                                            fetchData(`${location.origin}/api/bcs/choice_field/${field.inputfield.id}`)
                                                .then(function (data) {
                                                    inputFields += `<label for="input-${field.inputfield.id}.${optionId}">${field.inputfield.placeholder}</label>`;
                                                    inputFields += `<select required id="input-${field.inputfield.id}.${optionId}" name="${field.id}" class="form-select">`;
                                                    data[0].choice_field.forEach(choice => {
                                                        inputFields += ` <option value="${choice.choices}">${choice.choices}</option>`;
                                                    });

                                                    inputFields += '</select>';
                                                    inputFields += `</div>`;
                                                    div.innerHTML = inputFields;
                                                    informationForm.insertBefore(div, informationForm.children[optionIndex]);
                                                }).catch(function (err) {
                                                console.log(err)
                                            });
                                        } else {
                                            inputFields += `<label for="input-${field.inputfield.id}.${optionId}">${field.inputfield.placeholder}</label>`;
                                            inputFields += `<input class="form-control" type="${field.inputfield.type}" required
                                        id="input-${field.inputfield.id}.${optionId}" name="${field.id}" placeholder="Type here">`;
                                            inputFields += `</div>`;
                                            div.innerHTML = inputFields;
                                            informationForm.insertBefore(div, informationForm.children[optionIndex]);
                                        }
                                    });

                                }).catch(function (err) {
                                    console.log(err)
                                });
                            } else {
                                informationForm.removeChild(document.getElementById(`sub-${e.target.getAttribute("data-id")}-input`))
                                if (Array.from(document.querySelectorAll('.sub-services .form-check-input')).every(checkbox => checkbox.checked == false))
                                    document.querySelector('.form-container').classList.add('d-none');

                            }
                        })
                    });
                }
            })
        });

        function fetchData(formUrl) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    url: formUrl,
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        resolve(data) // Resolve promise and go to then()
                    },
                    error: function (err) {
                        reject(err) // Reject the promise and go to catch()
                    }
                });
            });
        }

        allBtn = Array.from(allBtn);
        //get another view button from more services
        if (document.querySelector('.more-services #pcs-preview-btn'))
            allBtn.push(document.querySelector('.more-services #pcs-preview-btn'));


        allBtn.forEach((btn, index) => {
            btn.addEventListener('click', () => {
                servicesContent.classList.add('d-none');
                document.querySelector(`div.${btn.classList[0]}`).classList.remove('d-none');
                backBtn.classList.remove('d-none');
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
                mainHeading.textContent = document.querySelector(`div.${btn.classList[0]}`).children[0].textContent.split('-')[0];
            });
        });

        let backBtnChanges = () => {
            servicesContent.classList.remove('d-none');
            previewServiceInfos.forEach(form => {
                form.classList.add('d-none');
            });
            previewForm.classList.add('d-none');
            backBtn.classList.add('d-none');

            document.body.scrollTop = 10;
            mainHeading.textContent = mainHeadingText;
            conciergeCybersecurity.classList.remove('d-none');
            subscriptionPackages.classList.add('d-none');
            invitationContainer.classList.add('d-none');
        }

        backBtn.addEventListener('click', backBtnChanges);

        document.body.addEventListener('keydown', (e) => {
            if (e.key == 'Backspace' && e.target.tagName != 'INPUT') {
                backBtnChanges();
            }
        });

        let conciergeCybersecurity = document.getElementById('concierge-cybersecurity');
        let subscriptionPackages = document.getElementById('subscription-packages');
        let invitationContainer = document.querySelector('.invitation-container');

        document.getElementById('subscription-package-btn').addEventListener('click', () => {
            conciergeCybersecurity.classList.add('d-none');
            subscriptionPackages.classList.remove('d-none');

        });


        document.querySelectorAll('.preview-service-info .package button').forEach(btn => {
            btn.addEventListener('click', e => {
                subscriptionPackages.classList.add('d-none');
                document.querySelector('.invitation-container #package-name').textContent = e.target.parentNode.children[0].textContent;
                invitationContainer.classList.remove('d-none');
            });
        });

        let input = document.getElementById('train-employee-input');
        document.getElementById('train-employee-btn')?.addEventListener('click', () => {
            input.classList.toggle('d-none');
            input.focus();
        });
        input?.addEventListener('keyup', (e) => {
            e.target.value = e.target.value.replace(/[^0-9]/gi, "");
        });

        document.getElementById('employee-program-btn')?.addEventListener('click', (e) => {
            let trainInput = document.getElementById('employee-program-input');
            trainInput.classList.toggle('d-none');
            trainInput.focus();
        });
        document.getElementById('employee-number-btn')?.addEventListener('click', (e) => {
            let numberInput = document.getElementById('employee-number-input');
            numberInput.classList.toggle('d-none');
            numberInput.focus();
        });

        const packageDetails = document.querySelector(".package-details");
        document.querySelectorAll('.subscriptionDetailBtn').forEach(btn => {
            btn.addEventListener('click', e => {
                packageDetails.innerHTML = '';
                fetch(`${mainOrigin}/api/bcs/package/${btn.id}/`, {
                    credentials: 'include'
                })
                    .then(response => response.json())
                    .then(result => {
                        document.querySelector('#subscriptionDetail .modal-title').textContent = result[0].service_name;
                        let divHtml;
                        result.map(subscription => {
                            const div = document.createElement("div")
                            const container = document.createElement("div")
                            container.classList.add("col-md-4")
                            div.classList.add("package", "bg-lightgreen", "shadow", "p-3", "rounded", "col-md-12", "d-flex", "flex-column", "justify-content-between")
                            divHtml = `<h3 class="fw-bold fs-4">${subscription.package_name}</h3> <div>`
                            subscription.feature_subscription?.map((item, index) => {
                                divHtml += `<div class="info-btn">
                                <p class="mb-0">
                                <i class="bi bi-box"></i> ${item.feature_name}
                                </p>
                                <p class="mb-0 fw-bold">${item.feature}</p>
                                </div>`
                            })
                            divHtml += `<div class="mt-2 info-btn">
                                <p class="mb-0"><i class="icofont-ui-user-group"></i> Max User</p>
                                <p class="mb-0 fw-bold">${subscription.max_user}</p>
                            </div>`
                            divHtml += `<div class="mt-2 info-btn">
                            <p class="mb-0">
                            <i class="icofont-tag"></i> Price
                            </p>
                            <p class="mb-0 fw-bold">${subscription.price}$ <span class="fw-bolder">/${subscription.duration_type}</span>
                            </p>
                            </div>
                            </div>
                            <div class="d-flex justify-content-center">
                            <a href="{% host_url 'bcs_subscription_payment' host 'main' %}${subscription.id}" class="mt-3 btn bg-navy px-5 py-1">Subscribe</a>
                            </div>`
                            div.innerHTML = divHtml
                            container.appendChild(div)
                            packageDetails.appendChild(container)
                        })
                    })
            });
        })


    </script>
{% endblock customjs %}