{% extends 'base/pcs_user_base.html' %} {% load static %} {% load my_filter %} {% load hosts %} {% block title %}
    Services {% endblock title %} {% block content %}

    <style>
        form label {
            text-transform: capitalize;
            margin-top: 8px
        }
    </style>

    <section class="services position-relative">
        <h4 class="main-heading">All Personal Cybersecurity Services
        </h4>

        <button id="back-btn" class="btn btn-outline-success btn-sm d-none position-absolute top-sm-0 end-0">
            <i class="icofont-long-arrow-left fw-bold"></i> Back to list
        </button>


        <div class="services-content">
            <div class="content-detail pe-2 mt-5">
                {% for category in service_category %}
                    <h5 class="mt-2 services-type">{{ category.category_name }}</h5>
                    <div class="row mx-0 mb-4 gy-4 pt-4 justify-content-center">
                        {% for service in category.service_category.all %}
                            <div class="col-md-4 px-0 pe-md-5">
                                <div class="bg-lightgreen p-2 rounded shadow-md d-flex flex-column h-100">
                                    <div class="text-center">
                                        <img class="service-icon" src="{{ service.service_icon.url }}">
                                    </div>
                                    <div class="ps-2 mt-2 text-center flex-grow-1">
                                        <h6 class="service-title">{{ service.service_title }}</h6>
                                        <p class="lh-1 fs-14">
                                            {{ service.short_description }}
                                        </p>
                                    </div>
                                    <div class="view-btn">
                                        <button class="{{ service.service_title|replacespace }}-pcs btn btn-sm">View
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% for service in category.subscription_service_category.all %}
                            {% if service.category_choice == 'pcs' %}
                                <div class="col-md-4 px-0 pe-md-5">
                                    <div class="bg-lightgreen p-2 rounded shadow-md d-flex flex-column h-100">
                                        <div class="text-center">
                                            <img class="service-icon" src="{{ service.service_icon.url }}">
                                        </div>
                                        <div class="ps-2 mt-2 text-center flex-grow-1">
                                            <h6 class="service-title">{{ service.service_title }}</h6>
                                            <p class="lh-1 fs-14">
                                                {{ service.short_description }}
                                            </p>
                                        </div>
                                        <div class="view-btn">
                                            <button class="{{ service.service_title|replacespace }}-pcs-sub btn btn-sm">
                                                View
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                <h4 class="main-heading">All Trainings</h4>
                {% for category in courses_categories %}
                    <h5 class="mt-2 services-type">{{ category.category_name }}</h5>
                    <div class="row mx-0 mb-4 gy-4 pt-4 justify-content-center">
                        {% for course in category.course_coursecategory.all %}
                            <div class="col-md-4 px-0 pe-md-5">
                                <div class="bg-lightgreen p-2 rounded shadow-md d-flex flex-column h-100">
                                    <div class="text-center">
                                        <img class="service-icon" src="{% static 'img/training hat.png' %}">
                                    </div>
                                    <div class="ps-2 mt-2 text-center flex-grow-1">
                                        <h6 class="service-title">{{ course.course_name }}</h6>
                                        <p class="lh-1 fs-14">
                                            {{ course.short_description }}
                                        </p>
                                    </div>
                                    <div class="view-btn">
                                        <button class="{{ course.course_name|replacespace }}-training btn btn-sm">View
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

            </div>
        </div>

        {% comment %} <div class="services-content">
            <div class="content-detail pe-2 mt-5">
                <h5 class="mt-2 services-type">Training</h5>
                <div class="row mx-0 mb-4 gy-4 pt-4 justify-content-center">
                    {% for course in courses %}
                        <div class="col-md-4 px-0 pe-md-5">
                            <div class="bg-lightgreen p-2 rounded shadow-md d-flex flex-column h-100">
                                <div class="text-center">
                                    <img class="service-icon" src="{% static 'img/training hat.png' %}">
                                </div>
                                <div class="ps-2 mt-2 text-center flex-grow-1">
                                    <h6 class="service-title">{{ course.course_name }}</h6>
                                    <p class="lh-1 fs-14">
                                        {{ course.short_description }}
                                    </p>
                                </div>
                                <div class="view-btn">
                                    <button class="{{ course.course_name|replacespace }}-pcs btn btn-sm">View
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div> {% endcomment %}

        <!-- services start.. loaded services details  -->
        {% for service in services %}
            <div class="{{ service | replacespace }} preview-service-info pt-3 pb-5 d-none image-fluid">
                <div class='d-none'>
                    {{ service }}
                </div>
                <div class="row mx-0 bg-lightgreen shadow-md">

                    <div class="col-md-12 ">
                        <div class="py-2">
                            <p class="mt-3 mb-0">{{ service.service_header|safe }}</p>
                        </div>
                    </div>
                </div>
                <div class="my-3 py-4 px-3 bg-lightgreen shadow-md">
                    <div class="mt-3">
                        <h6 class="lh-base">
                            {{ service.service_body|safe }}
                        </h6>
                    </div>
                </div>
                <div class="whom-we-serve my-3 py-4 px-3 bg-lightgreen shadow-md">
                    <p class="mt-3">
                        {{ service.service_footer|safe }}
                    </p>
                    <!-- <div class="mt-3">
                        <ol class="row mx-0">
                            {% for subservice in service.subservice_service.all %}
                                <li class="{{ subservice.service|replacespace }} short-info-li col-auto me-3 lh-base fw-bold">{{ subservice.title }}</li>
                            {% endfor %}
                        </ol>

                    </div> -->
                </div>
                <div class="my-4 pt-5 px-3">
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-between">
                        <button id="{{ service.id }}" type="button"
                                class="get-quotation btn bg-navy px-2 py-1 mb-3 mb-md-0">Provide information
                            to
                            get a quotation
                        </button>
                        <a href="{% host_url 'pcs_appointment' host 'mysecurity' %}" class="btn bg-navy px-2 py-1">Talk to one of our
                            representatives</a>

                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- subscription services start.. loaded subscription services details  -->
        {% for service in subscription_services %}
            <div class="{{ service | replacespace }}-sub preview-service-info pt-3 pb-5 d-none image-fluid">
                <div class='d-none'>
                    {{ service }}
                </div>
                <div class="row mx-0 bg-lightgreen shadow-md">

                    <div class="col-md-12 ">
                        <div class="py-2">
                            <p class="mt-3 mb-0">{{ service.service_header|safe }}</p>
                        </div>
                    </div>
                </div>
                <div class="my-3 py-4 px-3 bg-lightgreen shadow-md">
                    <div class="mt-3">
                        <h6 class="lh-base">
                            {{ service.service_body|safe }}
                        </h6>
                    </div>
                </div>
                <div class="whom-we-serve my-3 py-4 px-3 bg-lightgreen shadow-md">
                    <p class="mt-3">
                        {{ service.service_footer|safe }}
                    </p>
                    <div class="mt-3">
                        <ol class="row mx-0">
                            {% for subservice in service.subservice_service.all %}
                                <li class="{{ subservice.service|replacespace }} short-info-li col-auto me-3 lh-base fw-bold">{{ subservice.title }}</li>
                            {% endfor %}
                        </ol>

                    </div>
                </div>
                <div class="my-4 pt-5 px-3">
                    <div class="d-flex justify-content-center">
                        <button id="{{ service.id }}" data-bs-toggle="modal" data-bs-target="#subscriptionDetail"
                                type="button" class="btn bg-navy px-2 py-1 mb-3 mb-md-0 subscriptionDetailBtn">View Subscription
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- training details  -->
        {% for course in courses %}
            <div class="{{ course.course_name | replacespace }}-training preview-service-info pt-3 pb-5 d-none image-fluid">
                <div class='d-none'>
                    {{ course.course_name }}
                </div>
                <div class="row mx-0 bg-lightgreen shadow-md">
                    <div class="col-md-12 ">
                        <div class="py-2">
                            <p class="mt-3 mb-0">{{ course.short_description }}</p>
                        </div>
                    </div>
                </div>
                <div class="my-3 py-4 px-3 bg-lightgreen shadow-md">
                    <div class="mt-3">
                        <h6 class="lh-base">
                            {{ course.long_description|safe }}
                        </h6>
                    </div>
                </div>
                <div class="my-4 pt-5 px-3">
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-between">
                        <a href="{% host_url 'pcs_user_course_details' host 'mysecurity' %}{{ course.id }}"
                           class="get-quotation btn bg-navy px-2 py-1 mb-3 mb-md-0">View Details Module
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- modal for subscription services -->
        <div class="modal fade" id="subscriptionDetail" tabindex="-1" aria-labelledby="subscriptionDetailLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fw-bold"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="package-details row g-3">


                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div id="preview-form" class="d-none">

        </div>
    </section>

{% endblock content %} {% block customjs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        let backBtn = document.getElementById('back-btn');
        let servicesContent = document.querySelector('.services-content');
        let previewServiceInfos = document.querySelectorAll('.preview-service-info');
        let allBtn = document.querySelectorAll('.services-content .content-detail button');
        let quotationBtns = document.querySelectorAll('.get-quotation');
        let previewForm = document.getElementById('preview-form');


        let allServices;
        let mainHeading = document.querySelector('.services .main-heading');
        let mainHeadingText = 'All Personal Cybersecurity Services';
        let servicesHeading = {{ services_headings | safe }};

        quotationBtns.forEach((btn, index) => {
            btn.addEventListener('click', e => {
                previewServiceInfos.forEach(form => {
                    form.classList.add('d-none');
                });
                previewForm.classList.remove('d-none');
                previewForm.innerHTML = `<div id="progress" class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        </div>`;

                fetchData(`${mainOrigin}/api/bcs/sub_service/${btn.id}`)
                    .then(function (data) {
                        previewForm.removeChild(document.getElementById('progress'));

                        let list = '<div class="col-md-4 sub-services shadow"> <h5 class="fw-bold">Choose your services:</h5>';
                        let form = `<form method="POST" enctype="multipart/form-data">{% csrf_token %}<input type='hidden' id='service_name' value='' name='service_name'/>`
                        data.forEach((option, index) => {
                            list += `<div class="form-check">
                    <input class="form-check-input sub-services-check" type="checkbox" name="" id="sub-${option.id}" data-index="${index}" data-title="${option.title}" data-id="${option.id}">
                    <label class="form-check-label" for="sub-${option.id}">${index + 1}. ${option.title}</label>
                </div>`;
                            previewForm.innerHTML = '<div class="row mx-0">' + list + '</div>' + '<div class="col-md-8 d-none form-container" style="height: 90vh;overflow-x: auto;" ><h5 class="fw-bold text-center border-bottom border-gray p-2">Please Provide Necessary Informations:</h5>' + form + '<div class="information-form"></div><button type="submit" class="submit-btn btn btn-navy mt-3">Submit</button></form> </div>';

                        });
                        document.getElementById('service_name').value = mainHeading.textContent.trim();

                        addHtml()
                    }).catch(function (err) {
                    console.log(err)
                });

                const addHtml = () => {
                    const allServices = document.querySelectorAll('.sub-services-check');
                    const formContainer = document.querySelector('.form-container');
                    const formC = document.querySelector('.form-container form');
                    const informationForm = document.querySelector('.information-form');
                    allServices.forEach((check, index) => {
                        check.addEventListener('change', e => {
                            if (check.checked) {
                                document.querySelector('.form-container').classList.remove('d-none');
                                optionId = e.target.getAttribute("data-id")
                                optionIndex = e.target.getAttribute("data-index")
                                optionTitle = check.getAttribute("data-title")
                                const div = document.createElement("div")
                                div.setAttribute("id", `sub-${optionId}-input`)
                                let inputFields = '';
                                // informationForm.children[optionIndex]
                                formC.insertAdjacentHTML('beforebegin', `<p id="progress">Loading...</p>`);
                                fetchData(`${mainOrigin}/api/bcs/sub_service_input/${optionId}`).then(function (fields) {
                                    formContainer.removeChild(document.getElementById("progress"))
                                    inputFields += `<div class="mt-5"data-position="${optionIndex}">  <h6 class="heading">${optionTitle}</h6>`;
                                    fields.forEach(field => {

                                        if (field.inputfield.type === 'select') {
                                            fetchData(`${mainOrigin}/api/bcs/choice_field/${field.inputfield.id}`)
                                                .then(function (data) {
                                                    inputFields += `<label for="input-${field.inputfield.id}.${optionId}">${field.inputfield.placeholder}</label>`;
                                                    inputFields += `<select required id="input-${field.inputfield.id}.${optionId}" name="${field.id}" class="form-select">`;
                                                    data[0].choice_field.forEach(choice => {
                                                        inputFields += ` <option value="${choice.choices}">${choice.choices}</option>`;
                                                    });

                                                    inputFields += '</select>';
                                                    inputFields += `</div>`;
                                                    div.innerHTML = inputFields;
                                                    informationForm.insertBefore(div, informationForm.children[optionIndex]);
                                                }).catch(function (err) {
                                                console.log(err)
                                            });

                                            {#console.log("select ")#}
                                        } else {
                                            inputFields += `<label for="input-${field.inputfield.id}.${optionId}">${field.inputfield.placeholder}</label>`;
                                            var tp=field.inputfield.type;
                                            if (tp=='number'){
                                                inputFields += `<input class="form-control" type="${tp}" required
                                        id="input-${field.inputfield.id}.${optionId}" name="${field.id}" min="0" value="0" placeholder="Type here">`;
                                            }
                                            else{inputFields += `<input class="form-control" type="${tp}" required
                                            id="input-${field.inputfield.id}.${optionId}" name="${field.id}" placeholder="Type here">`;}
                                            
                                            
                                            inputFields += `</div>`;
                                            div.innerHTML = inputFields;
                                            informationForm.insertBefore(div, informationForm.children[optionIndex]);
                                        }

                                    });

                                }).catch(function (err) {
                                    console.log(err)
                                });
                            } else {
                                informationForm.removeChild(document.getElementById(`sub-${e.target.getAttribute("data-id")}-input`))
                                if (Array.from(document.querySelectorAll('.sub-services .form-check-input')).every(checkbox => checkbox.checked == false))
                                    document.querySelector('.form-container').classList.add('d-none');

                            }
                        })
                    });
                }
            })
        });

        function fetchData(formUrl) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    url: formUrl,
                    type: 'get',
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    dataType: 'json',
                    success: function (data) {
                        resolve(data) // Resolve promise and go to then()
                    },
                    error: function (err) {
                        reject(err) // Reject the promise and go to catch()
                    }
                });
            });
        }

        allBtn = Array.from(allBtn);
        //get another view button from more services
        if (document.querySelector('.more-services #pcs-preview-btn'))
            allBtn.push(document.querySelector('.more-services #pcs-preview-btn'));


        allBtn.forEach((btn, index) => {
            btn.addEventListener('click', () => {
                console.log(btn.classList[0], document.querySelector(`div.${btn.classList[0]}`))
                servicesContent.classList.add('d-none');
                document.querySelector(`div.${btn.classList[0]}`).classList.remove('d-none');
                backBtn.classList.remove('d-none');
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
                mainHeading.textContent = document.querySelector(`div.${btn.classList[0]}`).children[0].textContent.split('-')[0];
            });
        });

        let backBtnChanges = () => {
            servicesContent.classList.remove('d-none');
            previewServiceInfos.forEach(form => {
                form.classList.add('d-none');
            });
            previewForm.classList.add('d-none');
            backBtn.classList.add('d-none');

            document.body.scrollTop = 10;
            mainHeading.textContent = mainHeadingText;
            conciergeCybersecurity.classList.remove('d-none');
            subscriptionPackages.classList.add('d-none');
            invitationContainer.classList.add('d-none');
        }

        backBtn.addEventListener('click', backBtnChanges);

        document.body.addEventListener('keydown', (e) => {
            if (e.key == 'Backspace' && e.target.tagName != 'INPUT') {
                backBtnChanges();
            }
        });

        let conciergeCybersecurity = document.getElementById('concierge-cybersecurity');
        let subscriptionPackages = document.getElementById('subscription-packages');
        let invitationContainer = document.querySelector('.invitation-container');

        {#document.getElementById('subscription-package-btn').addEventListener('click', () => {#}
        {#    conciergeCybersecurity.classList.add('d-none');#}
        {#    subscriptionPackages.classList.remove('d-none');#}
        {##}
        {#});#}


        document.querySelectorAll('.preview-service-info .package button').forEach(btn => {
            btn.addEventListener('click', e => {
                subscriptionPackages.classList.add('d-none');
                document.querySelector('.invitation-container #package-name').textContent = e.target.parentNode.children[0].textContent;
                invitationContainer.classList.remove('d-none');
            });
        });

        {#let input = document.getElementById('train-employee-input');#}
        {#document.getElementById('train-employee-btn').addEventListener('click', () => {#}
        {#    input.classList.toggle('d-none');#}
        {#    input.focus();#}
        {#});#}
        {#input.addEventListener('keyup', (e) => {#}
        {#    e.target.value = e.target.value.replace(/[^0-9]/gi, "");#}
        {#});#}
        {##}
        {#document.getElementById('employee-program-btn').addEventListener('click', (e) => {#}
        {#    let trainInput = document.getElementById('employee-program-input');#}
        {#    trainInput.classList.toggle('d-none');#}
        {#    trainInput.focus();#}
        {#});#}
        {#document.getElementById('employee-number-btn').addEventListener('click', (e) => {#}
        {#    let numberInput = document.getElementById('employee-number-input');#}
        {#    numberInput.classList.toggle('d-none');#}
        {#    numberInput.focus();#}
        {#});#}


        const packageDetails = document.querySelector(".package-details");
        document.querySelectorAll('.subscriptionDetailBtn').forEach(btn => {
            btn.addEventListener('click', e => {
                packageDetails.innerHTML = '';
                fetch(`${mainOrigin}/api/bcs/package/${btn.id}/`, {
                    credentials: 'include'
                })
                    .then(response => response.json())
                    .then(result => {
                        document.querySelector('#subscriptionDetail .modal-title').textContent = result[0].service_name;
                        let divHtml;
                        result.map(subscription => {
                            const div = document.createElement("div")
                            div.classList.add("package", "bg-lightgreen", "shadow", "p-3", "rounded", "col-md-4", "me-2", "d-flex", "flex-column", "justify-content-between")
                            divHtml = `<h3 class="fw-bold fs-4">${subscription.package_name}</h3> <div>`
                            subscription.feature_subscription?.map((item, index) => {
                                divHtml += `<div class="info-btn">
                                <p class="mb-0">
                                <i class="bi bi-box"></i> ${item.feature_name}
                                </p>
                                <p class="mb-0 fw-bold">${item.feature}</p>
                                </div>`
                            })
                            divHtml += `<div class="mt-2 info-btn">
                            <p class="mb-0">
                            <i class="icofont-tag"></i> Price
                            </p>
                            <p class="mb-0 fw-bold">${subscription.price}$ <span class="fw-bolder">/${subscription.duration_type}</span>
                            </p>
                            </div>
                            </div>
                            <div class="d-flex justify-content-center">
                            <a href="{% host_url 'pcs_subscription_payment' host 'mysecurity' %}${subscription.id}" class="mt-3 btn bg-navy px-5 py-1">Subscribe</a>
                            </div>`
                            div.innerHTML = divHtml
                            packageDetails.appendChild(div)
                        })
                    })
            });
        })

    </script>
{% endblock customjs %}